{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
	<link rel="stylesheet" href="/Hffintranet/Views/css/tik/liste.css">
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container">


		<h3 class="perso-titre">
			Liste de Demande support informatique
		</h3>
		{% include "/partials/_notification.html.twig" %}
		{% include "/tik/demandeSupportInformatique/shared/_formulaireRecherche.html.twig" %}
	</div>

	<div
		class="container-fluid">
		<!-- DEBUT tableau -->

		<div class="container">
			{% include "/tik/demandeSupportInformatique/shared/_pagination.html.twig" %}
		</div>

		<table class="table rounded table-plein-ecran">
			<thead class="table-dark">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th>Statut</th>
					<th>N° ticket</th>
					<th>Niveau Urgence</th>
					<th>Demandeur</th>
					<th>N° parc PC</th>
					<th>Objet du demande</th>
					<th>Date de demande</th>
					<th>Dernier commentaire</th>
					<th>Intervenant</th>
				</tr>
			</thead>
			<tbody>

				{% for item in data %}
					{# DEBUT LOGIQUE #}
					{% set classeStatutTik = '' %}
					{% set styleStatutTik = '' %}

					{% if item.idStatutDemande.description | trim == 'OUVERT' %}
						{% set classeStatutTik ='ouvert' %}
					{% elseif item.idStatutDemande.description | trim == 'REFUSE'  %}
						{% set classeStatutTik ='refuse' %}
					{% elseif  item.idStatutDemande.description | trim == 'ENCOURS' %}
						{% set classeStatutTik ='encours' %}
					{% elseif item.idStatutDemande.description | trim == 'PLANIFIE' %}
						{% set classeStatutTik ='planifie' %}
					{% elseif item.idStatutDemande.description | trim == 'RESOLU' %}
						{% set classeStatutTik ='resolu' %}
					{% elseif item.idStatutDemande.description | trim == 'REOUVERT' %}
						{% set classeStatutTik ='reouvert' %}
					{% elseif item.idStatutDemande.description | trim == 'CLÔTURE' %}
						{% set classeStatutTik ='cloture' %}
					{% else %}
						{% set classeStatutTik = '' %}
					{% endif %}
					{# FIN LOGIQUE #}
					<tr>
						{# Début Action #}
						<td class="align-middle" style="padding: 0px">
							<div class="dropdown">
								<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									<li>
										<a class="dropdown-item fw-bold" href="{{ path("tik_modification_edit", {id: item.id})}}">Modifier</a>
									</li>

								</ul>
							</div>
						</td>
						{# Fin Actions #}

						{# DEBUT Statut #}

						<td class="{{classeStatutTik}}" style="{{styleStatutTik}}">{{ item.idStatutDemande.description | trim}}</td>

						{# FIN Statut #}

						<td>
							<a href="{{ path("detail_tik", {id: item.id}) }}" data-bs-toggle="tooltip" title="Afficher le détail">{{ item.numeroTicket }}</a>
						</td>
						<td>{{ item.niveauUrgence.description | default('--')  }}</td>
						<td>{{ item.utilisateurDemandeur}}</td>
						<td>{{ item.parcInformatique | default('--') }}</td>
						<td>{{ item.objetDemande }}</td>
						<td>{{ item.dateCreation | date('d/m/Y')}}</td>
						<td>
							<a href="#" data-bs-toggle="modal" data-bs-target="#commentaire" data-id="{{ item.numeroTicket }}">{{ item.commentaire | default('--') }}</a>
						</td>
						<td>{{ item.nomIntervenant | default('--') }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->

	{% include "/tik/demandeSupportInformatique/shared/_modalNiveauUrgence.html.twig"  %}
	{% include "/tik/demandeSupportInformatique/shared/_modalCommentaire.html.twig"  %}
{% endblock %}
{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/tik/tikListe.js" type="module"></script>
	<script src="/Hffintranet/Views/js/tik/tikListeModal.js" type="module"></script>
{% endblock %}
