{% extends 'baseTemplate.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css" />
  <link rel="stylesheet" href="{{ App.base_path }}/Views/css/inventaire/liste.css" />
{% endblock %}
{% block content %}
<div class="sticky-header-titre">
  <div class="container">
    <h3 class="perso-titre">Liste inventaire détaillé</h3>
    {% include '/inventaire/_detailFormulaire.html.twig' %}
    <div class="d-flex justify-content-between">
          <a href="{{path("export_excel_detail_inventaire")}}" id="excelInventaire" name="excelinvenatire" class="btn btn bg-success text-white my-3 fw-bold">
            <i class="fas fa-table"></i>
            Excel</a>
    </div>
  </div>
</div> 
<div class="container-fluid">

  <div class="sticky-header-statut"> 
  </div>
        <table class="table rounded table-plein-ecran">
         <thead class="table-dark position-sticky">
             <th>
							<i class="fas fa-ellipsis-vertical"></i>
						</th>
             <th style="text-align: center;"> Numéro</th>
             <th style="text-align: center;"> Date</th>
             <th style="text-align: center;"> Nbr comptage </th>
             <th style="text-align: center;"> Nbr bordereau </th>
             <th style="text-align: center;"> Ligne</th>
             <th style="text-align: center;"> Constructeurf</th>
             <th style="text-align: center;"> Reférence</th>
             <th style="text-align: center;"> Designation</th>
             <th style="text-align: center;"> Casier</th>
             <th style="text-align: center;"> Stock</th>
             <th style="text-align: center;"> Prix</th>
             <th style="text-align: center;"> Valeur stock</th>
             <th style="text-align: center;"> Comptage1</th>
             <th style="text-align: center;"> Comptage2</th>
             <th style="text-align: center;"> Comptage3</th>
             <th style="text-align: center;"> Ecart</th>
             <th style="text-align: center;"> Mont.ecart</th>
             </tr>
         </thead>
         <tbody id="tableBody">
            
         </tbody>
      </table> 
</div>

{% endblock %}
{% block javascript %}

  <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
{# //   <script src="{{ App.base_path }}/Views/js/inventaire/inventaireAg.js" type="module"></script> #}
  <script src="{{ App.base_path }}/Views/js/inventaire/inventaireDetailAgence.js" type="module"></script>
	<script src="{{ App.base_path }}/Views/js/planning/planningPositionSticky.js" type="module"></script>
{% endblock %}
