{% extends 'baseTemplate.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="/Hffintranet/Views/css/list.css" />
  <link rel="stylesheet" href="/Hffintranet/Views/css/inventaire/liste.css" />
{% endblock %}
{% block content %}
  <div class="sticky-header-titre">
    <div class="container">
      <h3 class="perso-titre">Inventaire</h3>
       {% include '/inventaire/_formulaireDetail.html.twig' %}
    </div>
    <div class="container-fluid">
        <div class="sticky-header-statut"> <div class="container">
				<div class="d-flex justify-content-between">
					<div>
        {% if data is not empty %}
						<a href="{{path("export_liste_inventaire_detail", { 'numinv': data[0].numinv })}}" id="excelInventaireDetail" name="excelinvenatireDetail" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
						<a href="{{path("export_pdf_liste_inventaire_detail", { 'numinv': data[0].numinv })}}" id="pdfInventaireDetail" name="pdfinvenatireDetail" class="btn btn bg-info text-white my-3 fw-bold ms-3">
							<i class="fas fa-print"></i>
							PDF</a>
        {% else %}
						<a href="#" id="excelInventaireDetail" name="excelinvenatireDetail" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
						<a href="#" id="pdfInventaireDetail" name="pdfinvenatireDetail" class="btn btn bg-info text-white my-3 fw-bold ms-3">
							<i class="fas fa-print"></i>
							PDF</a>
        {% endif %}
        
					</div>
          
				</div>
			</div>
        <table class="table rounded table-plein-ecran">
         <thead class="table-dark position-sticky">
             <tr>
             <th rowspan="2" class="align-middle">Numero</th>
              <th  rowspan="2" class="align-middle">CST</th>
              <th  rowspan="2" class="align-middle">Reférence</th>
              <th  rowspan="2" class="align-middle">Description</th>
              <th  rowspan="2" class="align-middle">Casier</th>
              <th  rowspan="2" class="align-middle">Qté théorique</th>
              <th colspan="3" style="text-align:center;">qté Comptée</th>
              <th rowspan="2" class="align-middle">Ecart</th>
              <th rowspan="2" class="align-middle">% nbr écart</th>
              <th rowspan="2" class="align-middle">P.M.P</th>
              <th rowspan="2" class="align-middle">Mont. Inventaire</th>
              <th rowspan="2" class="align-middle">Mont. Ajusté</th>
              <th rowspan="2" class="align-middle">% Mont. Ecart</th>
            </tr>
             <tr>
              <th>Cpt 1</th>
              <th>Cpt 2</th>
              <th>Cpt 3</th>
            </tr>
         </thead>
         <tbody id="tableBody">
          {% if data is empty %}
            <tr>
                <td colspan="14">Aucune donnée disponible</td>
            </tr>
          {% else %}
            {% for item in data %}
                  <tr>
                      <td>{{item.numinv}}</td>
                      <td>{{item.cst}}</td>
                      <td>{{item.refp}}</td>
                      <td>{{item.desi}}</td>
                      <td>{{item.casier}}</td>
                      <td>{{item.stock_theo}}</td>
                      <td>{{ item.qte_comptee_1 is same as("0") ? "" : item.qte_comptee_1 }}</td>
                      <td>{{ item.qte_comptee_2 is same as("0") ? "" : item.qte_comptee_2 }}</td>
                      <td>{{ item.qte_comptee_3 is same as("0")  ? "" : item.qte_comptee_3 }}</td>
                      <td>{{item.ecart}}</td>
                      <td>{{item.pourcentage_nbr_ecart}}</td>
                      <td>{{item.pmp}}</td>
                      <td>{{item.montant_inventaire}}</td>
                      <td>{{item.montant_ajuste}}</td>
                      <td>{{item.montant_ajuste}}</td>
                  </tr>
            {% endfor %}
          {% endif %}
         </tbody>
      </table> 
    </div>
  </div>

{% endblock %}
{% block javascript %}
  <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
  <script src="/Hffintranet/Views/js/inventaire/inventaireAg.js" type="module"></script>
{% endblock %}
