{% extends 'baseTemplate.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="/Hffintranet/Views/css/list.css" />
  <link rel="stylesheet" href="/Hffintranet/Views/css/inventaire/liste.css" />
{% endblock %}
{% block content %}
  <div class="sticky-header-titre">
    <div class="container">
      <h3 class="perso-titre">Liste inventaire</h3>
      {% include '/inventaire/_formulaire.html.twig' %}
    </div>
    <div class="container-fluid">
        <div class="sticky-header-statut"> <div class="container">
				<div class="d-flex justify-content-between">
					<div>
						<a href="{{path("export_liste_inventaire")}}" id="excelInventaire" name="excelinvenatire" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
					</div>
				</div>
			</div>
        <table class="table rounded table-plein-ecran">
         <thead class="table-dark position-sticky">
             <tr>
             <th> numero</th>
             <th> description</th>
             <th> ouvert le </th>
             <th> nbr_casier</th>
             <th> nbr_ref</th>
             <th> qte_comptee</th>
             <th> statut</th>
             <th> montant</th>
             <th> nbr Ref écart > 0</th>
             <th> nbr Ref écart > 0</th>
             <th> nbr Ref en écart</th>
             <th> % Ref avec écart</th>
             <th> Mont. écart</th>
             <th> % écart</th>
             </tr>
         </thead>
         <tbody id="tableBody">
            {% for item in data %}
                <tr>
                <td> <a href="{{path('detail_inventaire',{numinv : item.numero})}}" >  {{item.numero}}</a></td>
                <td> {{item.description}}</td>
                <td> {{item.ouvert}}</td>
                <td> {{item.nbr_casier}}</td>
                <td> {{item.nbr_ref}}</td>
                <td> {{item.qte_comptee}}</td>
                <td> {{item.statut}}</td>
                <td> {{item.montant}}</td>
                <td> {{item.nbre_ref_ecarts_positif}}</td>
                <td> {{item.nbre_ref_ecarts_negatifs}}</td>
                <td> {{item.total_nbre_ref_ecarts}}</td>
                <td> {{item.pourcentage_ref_avec_ecart}}</td>
                <td> {{item.montant_ecart}}</td>
                <td> {{item.pourcentage_ecart}}</td>
                </tr>
            {% endfor %}
         </tbody>
      </table> 
    </div>
  </div>

{% endblock %}
{% block javascript %}
  <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
  <script src="/Hffintranet/Views/js/inventaire/inventaireAg.js" type="module"></script>
{% endblock %}
