{% extends 'baseTemplate.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css" />
  <link rel="stylesheet" href="{{ App.base_path }}/Views/css/inventaire/liste.css" />
{% endblock %}
{% block content %}
  <div class="sticky-header-titre">
    <div class="container">
      <h3 class="perso-titre">Liste inventaire</h3>
      {% include '/inventaire/_formulaire.html.twig' %}
    </div>
    <div class="container-fluid">
        <div class="sticky-header-statut"> <div class="container">
				<div class="d-flex justify-content-between">
					<div>
						<a href="{{path("export_liste_inventaire")}}" id="excelInventaire" name="excelinvenatire" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
					</div>
				</div>
			</div>
        <table class="table rounded table-plein-ecran">
         <thead class="table-dark position-sticky">
             <tr>
             <th>
							<i class="fas fa-ellipsis-vertical"></i>
						</th>
             <th> Numéro</th>
             <th> Description</th>
             <th> Ouvert le </th>
             <th> Nbr casier</th>
             <th> Nbr Ref</th>
             <th> Qté comptée</th>
             <th> Statut</th>
             <th> Montant</th>
             <th> Nbr Ref écart > 0</th>
             <th> Nbr Ref écart < 0</th>
             <th> Nbr Ref en écart</th>
             <th> % Ref avec écart</th>
             <th> Mont. écart</th>
             <th> % écart</th>
             </tr>
         </thead>
         <tbody id="tableBody">
            {% for item in data %}
                <tr>
                {# Début Action #}
							<td class="align-middle" style="padding: 0px">
								<div class="dropdown">
									<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fas fa-ellipsis-vertical"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
										<li>
											<a class="dropdown-item fw-bold" href="{{path('detail_inventaire',{numinv : item.numero})}}"  target="_blank">Voir détail</a>
										</li>
										<li>
                    {% if item.statut | trim != "CLOTURE" %}
											<a class="dropdown-item fw-bold" href="{{path('bordereu_comptage',{numInv : item.numero})}}"  target="_blank">Impression feuille de comptage</a>
                      {% endif %}
										</li>
										{% if item.excel is same as(true) %}
                    <li>
                      <a class="dropdown-item fw-bold" href="{{path('download_file',{'filename':'INV'~item.numero~'.xlsx'}) }}" target="_blank">Voir fichier</a>
                    </li>
                    {% else %}
                    <li>
                      <input type="file" accept=".xlsx" id="file{{ item.numero }}" style="display: none;" onchange="uploadFile(this, {{ item.numero }})">
                      <a class="dropdown-item fw-bold" onclick="document.getElementById('file{{ item.numero }}').click()">Upload fichier d'analyse</a>
										</li>
                    {% endif %}
                    
									</ul>
								</div>
							</td>
							{# Fin Actions #}
                <td>   {{item.numero}}</td>
                <td> {{item.description}}</td>
                <td> {{item.ouvert}}</td>
                <td> {{item.nbr_casier}}</td>
                <td> {{item.nbr_ref}}</td>
                <td> {{item.qte_comptee}}</td>
                <td> {{item.statut}}</td>
                <td> {{item.montant}}</td>
                <td> {{item.nbre_ref_ecarts_positif is same as("0") ?"" : item.nbre_ref_ecarts_positif }}</td>
                <td> {{item.nbre_ref_ecarts_negatifs is same as("0") ?"" : item.nbre_ref_ecarts_negatifs}}</td>
                <td> {{item.total_nbre_ref_ecarts is same as("0") ?"": item.total_nbre_ref_ecarts }}</td>
                <td> {{item.pourcentage_ref_avec_ecart is same as("0 %") ?"" : item.pourcentage_ref_avec_ecart}}</td>
                <td> {{item.montant_ecart is same as("0")?"":item.montant_ecart}}</td>
                <td> {{item.pourcentage_ecart  is same as("0 %") ?"" : item.pourcentage_ecart }}</td>
                </tr>
            {% endfor %}
         </tbody>
      </table> 
    </div>
  </div>

{% endblock %}
{% block javascript %}
<script>
function uploadFile(input, id) {
    let file = input.files[0];

    if (!file) {
        alert("Aucun fichier sélectionné.");
        return;
    }

    let formData = new FormData();
    formData.append("fichier", file);

    fetch(`/Hffintranet/Upload/fichier/${id}`, {
        method: "POST",
        body: formData
    })
    .then(response => response.text())
    .then(data => alert(data))
    .catch(error => console.error("Erreur:", error));
}
</script>
  <script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
  <script src="{{ App.base_path }}/Views/js/inventaire/inventaireAg.js" type="module"></script>
{% endblock %}
