<div id="menuContextuelGlobal" class="menu-contextuel-custom" style="display: none;">
	{% if item.statut_bc == 'BC envoyé au fournisseur' %}
		<p title="clicker pour confirmer l'envoie" class="text-decoration-none text-dark cursor-pointer bg-success text-white border-0 rounded px-2 py-1">
			BC envoyé au fournisseur
		</p>
	{% elseif item.statut_bc == 'BC à envoyé au fournisseur' %}
		<a href="{{path('changement_statut_envoyer_fournisseur', {'numCde': item.num_cde, 'numDa':item.num_da})}}" class="text-decoration-none text-dark cursor-pointer bg-warning text-white border-0 rounded px-2 py-1" title="clicker pour confirmer l'envoie">
			BC à envoyé au fournisseur
		</a>
	{% endif %}

	{{ form_start(formSoumission, {'method': 'GET'}) }}
	<div class="p-2">
		{{ form_row(formSoumission.soumission) }}
		{# <input type="hidden" name="commande_id" id="hiddenCommandeId"/> #}
		{{ form_row(formSoumission.commande_id) }}
		{{ form_row(formSoumission.da_id) }}
		<div class="d-flex justify-content-end">
			<button class="btn btn-sm btn-warning fw-bold" type="submit">
				soumettre
			</button>
		</div>
	</div>
	{{ form_end(formSoumission) }}
</div>
