{% import "macroForm.html.twig" as macroForm %}

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="eventModalLabel">Détail de premier niveau du planning</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ macroForm.sousTitre3('Ticket', { id: '', class: 'sousTitre' })}}
				<div class="row">
					<div class="col-md-4">
						{{ macroForm.affichage3('Numéro du ticket', 'px-2 py-1', '', 'numeroTicket') }}
					</div>
					<div class="col-md-4">
						{{ macroForm.affichage3('Date de création', 'px-2 py-1', '', 'dateCreation') }}
					</div>
					<div class="col-md-4">
						{{ macroForm.affichage3('Date de fin souhaitée', 'px-2 py-1', '', 'dateFinSouhaite') }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						{{ macroForm.sousTitre3('Demande', { id: '', class: 'mt-4 sousTitre' })}}
						{{ macroForm.affichage3('Nom du demandeur', 'px-2 py-1', '', 'demandeur') }}
						{{ macroForm.affichage3('Objet de la demande', 'px-2 py-1', '', 'objetDemande') }}
						{{ macroForm.affichageHTML2('Détail de la demande', 'px-2 py-1', '', 'detailDemande') }}
					</div>
					<div class="col-md-6">
						{{ macroForm.sousTitre3('Intervention', { id: '', class: 'mt-4 sousTitre' })}}
						{{ macroForm.affichage3('Catégorie', 'px-2 py-1', '', 'categorie')}}
						{{ macroForm.affichage3('Intervenant', 'px-2 py-1', '', 'intervenant')}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a type="button" id="linkDetail" class="btn bouton" href="{{ path("detail_tik", { id: 0}) }}">Détail complet</a>
			</div>
		</div>
	</div>
</div>
