{% extends "baseTemplate.html.twig" %}

{% block title %}
	Choix Société
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/signin.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% block content %}
	{% block nav %}{% endblock %}
	<div id="intro">
		<div class="d-flex align-items-center w-100 h-100 justify-content-center" style="backdrop-filter: blur(4px) saturate(1.2);">
			<div class="container w-25" style="transform: translateY(-25%);">

				{% include "/partials/_notification.html.twig" %}

				<div class="card">
					<div class="card-body">
						<div class="container">
							{{ form_start(form)}}
							{{ form_errors(form)}}
							<div class="row d-flex justify-content-center mb-2">
								<h3 class="perso-titre mb-3">Veuillez choisir une société</h3>
								<img src="Views/assets/logoHFF.jpg" class="w-75 mb-3" id="Logo"/>
								{{ form_row(form.societe)}}
								{{ form_errors(form.societe)}}
								<div class="d-none" id="choix-profil">
									{{ form_row(form.profil)}}
									{{ form_errors(form.profil)}}
								</div>
							</div>

							<div class="d-flex justify-content-end">
								<button type="submit" class="btn bouton">
									Suivant
									<i class="fas fa-arrow-right"></i>
								</button>
							</div>
							{{ form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/societe/choixSociete.js?v=2025.10.22.08.00"></script>
{% endblock %}
