{% extends "baseTemplate.html.twig" %}

{% block title %}Mutation
{% endblock %}

{% block stylesheets %}
	<link href="/Hffintranet/Views/css/mutation/new.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="card">
			<div class="card-body">

				{% include "/partials/_notification.html.twig" %}

				<div class="d-flex  flex-row-reverse px-2">
					<h3 class="perso-titre">Demande d'Ordre de Mission</h3>
				</div>


				{{ form_start(form)}}
				<div class="row">
					<div class="col-4">
						{{ form_row(form.agenceEmetteur)}}
					</div>
					<div class="col-4">
						{{ form_row(form.serviceEmetteur)}}
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						{{ form_row(form.agenceDebiteur)}}
					</div>
					<div class="col-4">
						{{ form_row(form.serviceDebiteur)}}
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						{{ form_row(form.categorie)}}
					</div>
				</div>
				<div class="row" id="Interne">

					{{ form_row(form.matriculeNomPrenom)}}

				</div>
				<div class="row">
					<div class="mt-2">
						<button type="submit" class="btn btn-info fw-bold">
							Envoyer
							<i class="fas fa-arrow-right"></i>
						</button>
					</div>
				</div>
				{{ form_end(form)}}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="/Hffintranet/Views/js/mutation/new.js"></script>
{% endblock %}
