{% extends "baseTemplate.html.twig" %}

{% block title %}
	Dossier d’une DA
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/detail.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="container-spaced">
		<div class="card">
			<div class="card-body">
				<div class="container-fluid">
					{{ include('da/shared/detail/document-rattache.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/da/detail/document-rattache.js?v=2025.10.22.08.00" type="module"></script>
{% endblock %}
