{% extends "baseTemplate.html.twig" %}

{% block title %}
	Type de la DA
{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/new.css?v=2025.10.22.08.00" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	<div class="container mt-6">
		<div class="card">
			<div class="card-body">
				<div class="m-5">
					<div class="text-center">
						<p class="fs-6">Veuillez cliquer sur le type de demande que vous souhaitez créer:</p>
						{% if createDaDIT %}
							<a class="choix" href="{{ urls.avecDit }}">
								Demande d’achat avec DIT
							</a>
						{% endif %}
						{% if createDaDirect %}
							<a class="choix" href="{{ urls.direct }}">
								Demande d’achat direct
							</a>
						{% endif %}
						{% if createDaDirect %}
							<a class="choix" href="{{ urls.reappro }}">
								Demande de réappro mensuel
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
