{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/new.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/list.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/style.css">
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% set role_ids = App.user.roleIds %}

{% set styleStatutDA = {
	(constant(DA ~ '::STATUT_VALIDE'))              : 'bg-bon-achat-valide fw-bold',
	(constant(DA ~ '::STATUT_TERMINER'))            : 'bg-primary text-white fw-bold',
	(constant(DA ~ '::STATUT_SOUMIS_ATE'))          : 'bg-proposition-achat fw-bold',
	(constant(DA ~ '::STATUT_SOUMIS_APPRO'))        : 'bg-demande-achat fw-bold',
	(constant(DA ~ '::STATUT_A_VALIDE_DW'))         : 'bg-warning text-secondary',
	(constant(DA ~ '::STATUT_AUTORISER_MODIF_ATE')) : 'bg-creation-demande-initiale fw-bold',
} %}

{% set styleStatutOR = {
	'Refusé chef atelier': 'bg-or-non-valide',
	'Refusé client interne': 'bg-or-non-valide',
	'Validé': 'bg-danger text-white',
	'A resoumettre à validation': 'bg-warning text-secondary',
} %}

{% set styleStatutBC = {
	'A générer': 'bg-bc-a-generer fw-bold',
	'A éditer': 'bg-bc-a-editer fw-bold',
	'A soumettre à validation': 'bg-bc-a-soumettre-a-validation fw-bold',
	'Validé': 'bg-bc-valide fw-bold',
	'Cloturé': 'bg-bc-valide fw-bold',
	'Non validé': 'bg-bc-non-valide fw-bold',
	'Tous livrés':'tout-livre bg-success text-white',
	'Partiellement livré':'partiellement-livre bg-warning text-white',
	'Partiellement dispo':'partiellement-dispo bg-info text-white',
	'Complet non livré':'complet-non-livre bg-primary text-white'
} %}

{% block content %}

	<div class="sticky-header-titre">
		<div class="container mb-3">
			<h3 class="perso-titre">
				Liste des demandes d'achat
			</h3>
			{% include "/partials/_notification.html.twig" %}
			{% include "/da/shared/listeDA/_formulaireRecherche.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		<table class="table table-plein-ecran">
			<thead class="table-dark align-middle">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th class="text-center">N° Demande</th>
					<th class="text-center">Achat direct</th>
					<th class="text-center">N° DIT</th>
					<th class="text-center">Niveau urgence</th>
					<th class="text-center">N° OR</th>
					<th class="text-center">Demandeur</th>
					<th class="text-center">Date de demande</th>
					<th class="text-center">Statut DA</th>
					<th class="text-center">Statut OR</th>
					<th class="text-center">Statut BC</th>
					<th class="text-center">Date Planning OR</th>
					<th>Fournisseur</th>
					<th>Réference</th>
					<th>Désignation</th>
					<th class="text-center">Fiche technique</th>
					<th class="text-center">Qté dem</th>
					<th class="text-center">Qté en attente</th>
					<th class="text-center">Qté Dispo (Qté à livrer)</th>
					<th class="text-center">Qté livrée</th>
					<th class="text-center">Date fin souhaitée</th>
					<th class="text-center">Date livraison prévue</th>
					<th class="text-center">Nbr Jour(s) dispo</th>
					<th class="text-center">Suppression</th>
				</tr>
			</thead>
			<tbody id="tableBody" class="align-middle">
				{% for item in data %}
					{% set demandeDeverouiller = serviceAtelier and item.demandeDeverouillage %}
					{% set ajouterDA = false and (serviceAtelier or constant('App\\Entity\\admin\\utilisateur\\Role::ROLE_ADMINISTRATEUR') in role_ids) and item.numeroDemandeDit ?? false %}
					{% set aDeverouiller = serviceAppro and item.numeroDemandeAppro in numDaNonDeverrouillees %}
					{% set designationStyle = item.estDalr ? 'mise-en-evidence' : '' %}
					{% set url_detail = item.achatDirect ? 'da_detail_direct' : 'da_detail_avec_dit' %}
					{% set url_proposition = item.achatDirect ? 'da_proposition_direct' : 'da_proposition_ref_avec_dit' %}
					{% set route_params = { id: item.demandeAppro.id } %}
					<tr>
						{# === Début Action ==== #}
						<td style="padding: 0px">
							<div class="dropdown">
								<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									{% if ajouterDA %}
										<li>
											<a class="dropdown-item fw-bold ajout-overlay" href="{{ path('da_new', { id : item.dit.id }) }}">Créer une DA à partir du DIT</a>
										</li>
									{% endif %}
									{% if item.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_VALIDE') %}
										<li>
											<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/da/{{ item.numeroDemandeAppro }}/{{ item.numeroDemandeAppro }}.pdf" target="_blank">Afficher le PDF de la DA</a>
										</li>
									{% endif %}
									{% if demandeDeverouiller %}
										<li>
											<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#demandeDeverouillageModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.demandeAppro.id }}">Demander le déverrouillage de la DA</a>
										</li>
									{% elseif serviceAppro %}
										{% if item.numeroDemandeAppro in numDaNonDeverrouillees %}
											<li>
												<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.demandeAppro.id }}">Déverouiller la DA</a>
											</li>
										{% endif %}
										{% if item.statutOr is same as "Validé" and get_path_or_max(item.numeroOR) is not empty%}
											{% set chemin = get_path_or_max(item.numeroOR)['chemin'] %}
											<li>
												<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/{{ chemin }}" download>Télécharger l’OR</a>
											</li>
										{% endif %}
									{% endif %}
								</ul>
							</div>
						</td>
						{# === Fin Actions ==== #}
						<td class="{{ aDeverouiller ? 'bg-danger' : '' }}">
							<a href="{{ path(url_detail, route_params) }}" target="_blank" class="{{ aDeverouiller ? 'text-white' : '' }}" data-bs-toggle="tooltip" title="Afficher le détail">
								{{item.numeroDemandeAppro}}
							</a>
						</td>
						<td class="text-center">
							{{ item.achatDirect ? '<i class="fas fa-check text-success"></i>' : ''}}</td>
						<td>{{item.numeroDemandeDit|default('<i class="fas fa-ban text-muted"></i>')|raw}}</td>
						<td>{{item.niveauUrgence}}</td>
						<td>{{item.achatDirect ? '<i class="fas fa-ban text-muted"></i>' :item.numeroOr}}</td>
						<td>{{item.demandeur}}</td>
						<td>{{item.dateDemande != null ? item.dateDemande | date('d/m/Y') : ''}}</td>
						<td class="{{ styleStatutDA[item.statutDal] }} fw-bold">{{item.statutDal}}</td>
						<td class="text-start {{ styleStatutOR[item.statutOr] }} fw-bold text-center">{{item.achatDirect ? '<i class="fas fa-ban text-muted"></i>' :item.statutOr}}</td>
						<td class="text-start {{ styleStatutBC[item.statutCde] }} fw-bold">{{item.statutCde}}</td>
						<td class="text-center">{{ item.achatDirect ? '<i class="fas fa-ban text-muted"></i>' :item.datePlannigOr ? item.datePlannigOr|date('d/m/Y') : '' }}</td>
						<td class="text-start">{{item.nomFournisseur}}</td>
						<td class="text-start">{{item.artRefp}}</td>
						<td class="text-start {{ designationStyle }}">
							{% if item.verouille %}
								{{ item.artDesi }}
							{% else %}
								<a href="{{ path(url_proposition, route_params) }}" class="designation-btn" data-numero-ligne="{{ item.numeroligne }}" target="_blank">
									{{ item.artDesi }}
								</a>
							{% endif %}
						</td>
						<td class="text-center">
							{% if item.estFicheTechnique %}
								<i class="fas fa-check text-success"></i>
							{% else %}
								<i class="fas fa-xmark text-danger"></i>
							{% endif %}
						</td>
						<td class="text-center">{{item.qteDem == 0 ? '-' : item.qteDem}}</td>
						<td class="text-center">{{item.qteEnAttent == 0 ? '-' : item.qteEnAttent}}</td>
						<td class="text-center">{{item.qteDispo == 0 ? '-' : item.qteDispo}}</td>
						<td class="text-center">{{item.qteLivrer == 0 ? '-' : item.qteLivrer}}</td>
						<td class="text-center">{{item.dateFinSouhaite != null ? item.dateFinSouhaite | date('d/m/Y') :'' }}</td>
						<td class="text-center">{{item.dateLivraisonPrevue != null ? item.dateLivraisonPrevue | date('d/m/Y') :''}}</td>
						<td class="text-center {{ item.joursDispo < 0 ? 'text-danger' : '' }}">{{item.joursDispo}}</td>
						<td class="text-center">
							{% if serviceAppro and item.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_SOUMIS_APPRO') or serviceAtelier and item.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_SOUMIS_ATE') %}
								<i class="fas fa-xmark delete-line-DA" style="cursor:pointer;" data-bs-toggle="tooltip" title="Supprimer la ligne de DA" data-id="{{ item.demandeAppro.id }}"></i>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include "/dit/shared/_modalNiveauUrgence.html.twig"  %}
	{% include "/da/shared/listeDA/_modalConfirmation.html.twig" %}
	{% include "/da/shared/listeDA/_modalDemandeDeverouillage.html.twig" %}

{% endblock %}

{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeDa/list.js" type="module"></script>
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeDa/positionSticky.js" type="module"></script>
{% endblock %}
