{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/new.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/list.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/style.css">
{% endblock %}

{% import "macroForm.html.twig" as form %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	{# DEBUT Récupération des id de role de l'utilisateur dans un tableau role_ids #}
	{% set role_ids = App.user.roleIds %}

	<div class="sticky-header-titre">
		<div class="container mb-3">
			<h3 class="perso-titre">
				Liste des demandes d'achat
			</h3>
			{% include "/partials/_notification.html.twig" %}
			{% include "/da/shared/listeDA/_formulaireRecherche.html.twig" %}
			{# {% include "/da/shared/listeDA/_pagination.html.twig" %} #}
		</div>
	</div>
	{# Statut de la DA #}
	{% set styleStatutDA = {
		'Demande d’achats': 'bg-demande-achat fw-bold',
		'Proposition achats': 'bg-proposition-achat fw-bold',
		'Bon d’achats validé': 'bg-bon-achat-valide fw-bold',
		'Création demande initiale': 'bg-creation-demande-initiale fw-bold',
	} %}

	{% set styleStatutOR = {
		'Refusé chef atelier': 'bg-or-non-valide',
		'Refusé client interne': 'bg-or-non-valide',
		'Validé': 'bg-danger text-white',
		'A resoumettre à validation': 'bg-warning text-secondary',
	} %}

	{% set styleStatutBC = {
		'A générer': 'bg-bc-a-generer fw-bold',
		'A éditer': 'bg-bc-a-editer fw-bold',
		'A soumettre à validation': 'bg-bc-a-soumettre-a-validation fw-bold',
		'Validé': 'bg-bc-valide fw-bold',
		'Cloturé': 'bg-bc-valide fw-bold',
		'Non validé': 'bg-bc-non-valide fw-bold',
		'Tout livré':'tout-livre bg-success text-white',
		'Partiellement livré':'partiellement-livre bg-warning text-white',
		'Partiellement dispo':'partiellement-dispo bg-info text-white',
		'Complet non livré':'complet-non-livre bg-primary text-white'
	} %}

	<div class="container-fluid">
		<table class="table table-plein-ecran">
			<thead class="table-dark align-middle">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th class="text-center">N° Demande</th>
					<th class="text-center">N° DIT</th>
					<th class="text-center">Niveau urgence DIT</th>
					<th class="text-center">N° OR</th>
					<th class="text-center">Demandeur</th>
					<th class="text-center">Date de demande</th>
					<th class="text-center">Statut DA</th>
					<th class="text-center">Statut OR</th>
					<th class="text-center">Statut BC</th>
					<th class="text-center">Date Planning OR</th>
					<th>Fournisseur</th>
					<th>Réference</th>
					<th>Désignation</th>
					<th class="text-center">Fiche technique</th>
					<th class="text-center">Qté dem</th>
					<th class="text-center">Qté en attente</th>
					<th class="text-center">Qté Dispo (Qté à livrer)</th>
					<th class="text-center">Qté livrée</th>
					<th class="text-center">Date fin souhaitée</th>
					<th class="text-center">Date livraison prévue</th>
					<th class="text-center">Nbr Jour(s) dispo</th>
					<th class="text-center">Suppression</th>
				</tr>
			</thead>
			<tbody id="tableBody" class="align-middle">
				{% for item in data %}
					{% set demandeDeverouiller = serviceAtelier and item.demandeDeverouillage %}
					{% set ajouterDA = false and (serviceAtelier or constant('App\\Entity\\admin\\utilisateur\\Role::ROLE_ADMINISTRATEUR') in role_ids) and item.numeroDemandeDit ?? false %}

					{% set aDeverouiller = serviceAppro and item.numeroDemandeAppro in numDaNonDeverrouillees %}

					{% for dal in item.daValiderOuProposer %}

						{% set designationStyle = dal.demandeApproLR is iterable ? '' : 'mise-en-evidence' %}

						<tr>
							{# Début Action #}
							<td style="padding: 0px">
								<div class="dropdown">
									<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fas fa-ellipsis-vertical"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
										{% if ajouterDA %}
											<li>
												<a class="dropdown-item fw-bold ajout-overlay" href="{{ path('da_new', { id : item.dit.id }) }}">Créer une DA à partir du DIT</a>
											</li>
										{% endif %}
										{% if dal.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_VALIDE') %}
											<li>
												<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/da/{{ item.numeroDemandeAppro }}/{{ item.numeroDemandeAppro }}.pdf" target="_blank">Afficher le PDF de la DA</a>
											</li>
										{% endif %}
										{% if demandeDeverouiller %}
											<li>
												<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#demandeDeverouillageModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.id }}">Demander le déverrouillage de la DA</a>
											</li>
										{% elseif serviceAppro %}
											{% if item.numeroDemandeAppro in numDaNonDeverrouillees %}
												<li>
													<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.id }}">Déverouiller la DA</a>
												</li>
											{% endif %}
											{% if item.statutOr is same as "Validé" and get_path_or_max(item.numeroOR) is not empty%}
												{% set chemin = get_path_or_max(item.numeroOR)['chemin'] %}
												<li>
													<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/{{ chemin }}" download>Télécharger l’OR</a>
												</li>
											{% endif %}
										{% endif %}
									</ul>
								</div>
							</td>
							{# Fin Actions #}
							<td class="{{ aDeverouiller ? 'bg-danger' : '' }}">
								{# {% if serviceAppro %} #}
								{# {{ item.numeroDemandeAppro }} #}
								{# {% else %} #}
									<a href="{{ path('da_detail', { id : item.id }) }}" target="_blank" class="{{ aDeverouiller ? 'text-white' : '' }}" data-bs-toggle="tooltip" title="Afficher le détail"> {{ item.numeroDemandeAppro }}
								</a>
								{# {% endif %} #}
							</td>
							<td>{{ item.numeroDemandeDit }}</td>
							<td>{{ item.dit.idNiveauUrgence.description }}</td>
							<td>{{ item.numeroOR }}</td>
							<td>{{ item.demandeur }}</td>
							<td>{{ item.dateCreation | date('d/m/Y') }}</td>
							<td class="{{ styleStatutDA[dal.statutDal] }} fw-bold">{{ dal.statutDal }}</td>
							<td class="text-start {{ styleStatutOR[item.statutOr] }} fw-bold text-center">{{ item.statutOr }}</td>
							<td class="text-start {{ styleStatutBC[dal.statutBc] }} fw-bold">{{dal.statutBc}}</td>
							<td class="text-center">{{ dal.datePlanningOR }}</td>
							<td class="text-start">{{ dal.nomFournisseur }}</td>
							<td class="text-start">{{ dal.artRefp ?? '-' }}</td>
							<td class="text-start {{ designationStyle }}">
								{% if dal.verouille %}
									{{ dal.artDesi }}
								{% else %}
									<a href="{{ path('da_proposition', { id : item.id }) }}" class="designation-btn" data-numero-ligne="{{ dal.numeroLigne }}" target="_blank">
										{{ dal.artDesi }}
									</a>
								{% endif %}
							</td>
							<td class="text-center">
								{% if dal.estFicheTechnique %}
									<i class="fas fa-check text-success"></i>
								{% else %}
									<i class="fas fa-xmark text-danger"></i>
								{% endif %}
							</td>
							<td class="text-center">{{ dal.qteDem }}</td>
							<td class="text-center">{{ dal.qteEnAttent == 0 ? '-': dal.qteEnAttent}}</td>
							<td class="text-center">{{ dal.qteALivrer == 0 ? '-': dal.qteALivrer}}</td>
							<td class="text-center">{{ dal.qteLivee == 0 ? '-': dal.qteLivee}}</td>
							<td class="text-center">{{ dal.dateFinSouhaite == null ? '' :dal.dateFinSouhaite|date('d/m/Y') }}</td>
							<td class="text-center">{{ dal.dateLivraisonPrevue == null ? '' : dal.dateLivraisonPrevue|date('d/m/Y') }}</td>
							<td class="text-center {{ dal.joursDispo < 0 ? 'text-danger' : '' }}">{{ dal.joursDispo }}</td>
							<td class="text-center">
								{% if serviceAppro and dal.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_SOUMIS_APPRO') or serviceAtelier and dal.statutDal == constant('App\\Entity\\da\\DemandeAppro::STATUT_SOUMIS_ATE') %}
									<i class="fas fa-xmark delete-line-DA" style="cursor:pointer;" data-bs-toggle="tooltip" title="Supprimer la ligne de DA" data-id="{{ dal.id }}"></i>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->

	{# body modal #}
	{% include "/da/shared/listeDA/_modalConfirmation.html.twig" %}
	{% include "/da/shared/listeDA/_modalDemandeDeverouillage.html.twig" %}
{% endblock %}

{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeDa/list.js" type="module"></script>
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeDa/positionSticky.js" type="module"></script>
{% endblock %}
