{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/new.css?v=2025.08.29.15.05">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css?v=2025.08.29.15.05">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/list.css?v=2025.08.29.15.05">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/style.css?v=2025.08.29.15.05">
{% endblock %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}

	<div class="sticky-header-titre">
		<div class="container">
			{% include "/partials/_notification.html.twig" %}
			{% include "/da/shared/listeDA/_formulaireRecherche.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		<table class="table table-sticky">
			<thead class="table-dark align-middle">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th class="text-center">N° Demande</th>
					<th class="text-center">Achat direct</th>
					<th class="text-center">N° DIT</th>
					<th class="text-center">Niveau urgence</th>
					<th class="text-center">N° OR</th>
					<th class="text-center">Demandeur</th>
					<th class="text-center">Date de demande</th>
					<th class="text-center">Statut DA</th>
					<th class="text-center">Statut OR</th>
					<th class="text-center">Statut BC</th>
					<th class="text-center">Date Planning OR</th>
					<th>Fournisseur</th>
					<th>Réference</th>
					<th>Désignation</th>
					<th class="text-center">Fiche technique</th>
					<th class="text-center">Qté dem</th>
					<th class="text-center">Qté en attente</th>
					<th class="text-center">Qté Dispo (Qté à livrer)</th>
					<th class="text-center">Qté livrée</th>
					<th class="text-center">Date fin souhaitée</th>
					<th class="text-center">Date livraison prévue</th>
					<th class="text-center">Nbr Jour(s) dispo</th>
					<th class="text-center">Suppression</th>
				</tr>
			</thead>
			<tbody id="tableBody" class="align-middle">
				{% for row in data %}
					{% set item = row.item %}
					<tr>
						{# === Début Action ==== #}
						<td style="padding: 0px">
							<div class="dropdown">
								<button class="btn btn-sm me-1 dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									{% if row.ajouterDA %}
										<li>
											<a class="dropdown-item fw-bold ajout-overlay" href="{{ path('da_new_avec_dit', { id : item.dit.id }) }}">Créer une DA à partir du DIT</a>
										</li>
									{% endif %}
									{% if row.statutValide %}
										<li>
											<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/da/{{ item.numeroDemandeAppro }}/{{ item.numeroDemandeAppro }}.pdf" target="_blank">Afficher le PDF de la DA</a>
										</li>
									{% endif %}
									{% if row.demandeDeverouiller %}
										<li>
											<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#demandeDeverouillageModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.demandeAppro.id }}">Demander le déverrouillage de la DA</a>
										</li>
									{% endif %}
									{% if row.aDeverouiller %}
										<li>
											<a href="#" class="dropdown-item fw-bold" data-bs-toggle="modal" data-bs-target="#confirmationModal" data-numero-da="{{ item.numeroDemandeAppro }}" data-id-da="{{ item.demandeAppro.id }}">Déverouiller la DA</a>
										</li>
									{% endif %}

									{% if row.telechargerOR %}
										{% set chemin = row.pathOrMax.chemin %}
										<li>
											<a class="dropdown-item fw-bold" href="{{ App.base_path_fichier }}/{{ chemin }}" download>Télécharger l’OR</a>
										</li>
									{% endif %}
								</ul>
							</div>
						</td>
						{# === Fin Actions ==== #}
						<td class="{{ row.aDeverouiller ? 'bg-danger' : '' }}">
							<a href="{{ row.urlDetail }}" target="_blank" class="{{ row.aDeverouiller ? 'text-white' : '' }}" data-bs-toggle="tooltip" title="Afficher le détail">
								{{ item.numeroDemandeAppro }}
							</a>
						</td>
						<td class="text-center">
							{{ item.achatDirect }}</td>
						<td>{{ item.numeroDemandeDit }}</td>
						<td>{{ item.niveauUrgence }}</td>
						<td>{{ item.numeroOr }}</td>
						<td>{{ item.demandeur }}</td>
						<td>{{ item.dateDemande }}</td>
						<td class="{{ row.styleStatutDA }} fw-bold">{{ item.statutDal }}</td>
						<td class="text-start {{ row.styleStatutOR }} fw-bold text-center">{{ item.statutOr }}</td>
						<td class="text-start {{ row.styleStatutBC }} fw-bold">{{ item.statutCde }}</td>
						<td class="text-center">{{ item.datePlannigOr }}</td>
						<td class="text-start">{{ item.nomFournisseur }}</td>
						<td class="text-start">{{ item.artRefp }}</td>
						<td class="text-start {{ item.estDalr ? 'mise-en-evidence' : '' }}">
							{% if item.verouille %}
								{{ item.artDesi }}
							{% else %}
								<a href="{{ row.urlDesignation }}" class="designation-btn" data-numero-ligne="{{ item.numeroligne }}" data-numero-da="{{ item.numeroDemandeAppro }}" target="_blank">
									{{ item.artDesi }}
								</a>
							{% endif %}
						</td>
						<td class="text-center">{{ item.estFicheTechnique }}</td>
						<td class="text-center">{{ item.qteDem }}</td>
						<td class="text-center">{{ item.qteEnAttent }}</td>
						<td class="text-center">{{ item.qteDispo }}</td>
						<td class="text-center">{{ item.qteLivrer }}</td>
						<td class="text-center">{{ item.dateFinSouhaite }}</td>
						<td class="text-center">{{ item.dateLivraisonPrevue }}</td>
						<td class="text-center {{ item.joursDispo < 0 ? 'text-danger' : '' }}">{{ item.joursDispo }}</td>
						<td class="text-center">
							{% if row.supprimable %}
								<i class="fas fa-xmark delete-line-DA" style="cursor:pointer;" data-bs-toggle="tooltip" title="Supprimer la ligne de DA" data-delete-path="{{ row.urlDelete }}"></i>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% include "/dit/shared/_modalNiveauUrgence.html.twig"  %}
	{% include "/da/shared/listeDA/_modalConfirmation.html.twig" %}
	{% include "/da/shared/listeDA/_modalDemandeDeverouillage.html.twig" %}
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/utils/positionSticky.js?v=2025.08.29.15.05"></script>
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeDa/list.js?v=2025.08.29.15.05" type="module"></script>
{% endblock %}
