{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/list.css">
	<link rel="stylesheet" href="{{ App.base_path }}/Views/css/da/list.css">
{% endblock %}

{% import "macroForm.html.twig" as form %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="sticky-header-titre">
			<div class="mb-3 container">
				<h3 class="perso-titre">
					Liste des commandes fournisseurs
				</h3>
				{% include "/partials/_notification.html.twig" %}
				{% include "/da/shared/cdeFrn/_formulaireRecherche.html.twig" %}
				<div class="my-3 d-flex flex-row">
					<div role="button" tabindex="0" id="tout-livre">
						<i class="fa-solid fa-circle text-success"></i>
						<small class="text-success">Tout livré |</small>
					</div>
					<div role="button" tabindex="0" id="partiellement-livre">
						<i class="fa-solid fa-circle text-warning"></i>
						<small class="text-warning">Partiellement livré |</small>
					</div>
					<div role="button" tabindex="0" id="partiellement-dispo">
						<i class="fa-solid fa-circle text-info"></i>
						<small class="text-info">Partiellement dispo |</small>
					</div>
					<div role="button" tabindex="0" id="complet-non-livre">
						<i class="fa-solid fa-circle text-primary"></i>
						<small class="text-primary">Complet non livré |</small>
					</div>
				</div>
			</div>
		</div>

		<table class="table table-plein-ecran">
			<thead class="table-dark">
				<tr>
					<th class="text-center">N° DA</th>
					<th class="text-center">Achat direct</th>
					<th class="text-center">N° DIT</th>
					<th class="text-center">Niv. Urgence</th>
					<th class="text-center">N° OR</th>
					<th class="text-center">Date planning OR</th>
					<th class="text-center">N° Fournisseur</th>
					<th class="text-center">Fournisseur</th>
					<th class="text-center">N° Commande</th>
					<th class="text-center">Statut BC</th>
					<th class="text-center">Réference</th>
					<th class="text-center">Désignation</th>
					<th class="text-center">Qté demandée</th>
					<th class="text-center">Qté en attente</th>
					<th class="text-center">Qté Dispo (Qté à livrer)</th>
					<th class="text-center">Qté livrée</th>
					<th class="text-center">Nb jours dispo</th>
				</tr>
			</thead>
			<tbody id="tableBody">
				{% for item in data %}
					{% set classe = '' %}
					{% set qteCdm = item.qte_dem | default(0) * 1 %}
					{% set qteLiv = item.qte_livee | default(0) * 1 %}
					{% set qteAll = item.qte_a_livrer | default(0) * 1 %}

					{% if qteCdm == qteLiv and qteCdm != '' and qteLiv != '' %}
						{# Tout livré #}
						{% set classe = 'tout-livre bg-success text-white' %}
					{% elseif qteLiv > 0 and qteLiv != qteCdm and qteCdm > (qteLiv + qteAll) %}
						{# Partiellement livré #}
						{% set classe = 'partiellement-livre bg-warning text-white' %}
					{% elseif qteCdm != qteAll and qteLiv == 0 and qteAll > 0 %}
						{# Partiellement dispo #}
						{% set classe = 'partiellement-dispo bg-info text-white' %}
					{% elseif (qteCdm == qteAll and qteLiv < qteCdm) or (qteAll > 0 and qteCdm == (qteAll + qteLiv)) %}
						{# complet non livré #}
						{% set classe = 'complet-non-livre bg-primary text-white' %}
					{% endif %}

					<tr>
						<td class="text-center">{{ item.num_da }}</td>
						<td class="text-center">NON</td>
						<td class="text-center">{{ item.num_dit }}</td>
						<td class="text-center">{{ item.niv_urg }}</td>
						<td class="text-center">{{ item.num_or }}</td>
						<td class="text-center">{{ item.dateplanning |date('d/m/Y')}}</td>
						<td class="text-center">{{ item.num_fournisseur }}</td>
						<td class="text-center">{{ item.nom_fournisseur }}</td>
						{% if item.num_cde %}
							<td class="text-center commande-cellule commande {{ classe }}" data-commande-id="{{item.num_cde}}" data-num-da="{{item.num_da}}" data-statut-bc="{{item.statut_bc}}">
								{{ item.num_cde }}
							</td>
						{% else %}
							<td class="text-center {{ classe }}">
								{{ item.num_cde }}
							</td>
						{% endif %}

						<td class="text-center fw-bold">{{ item.statut_bc}}</td>
						<td class="text-center">{{ item.reference }}</td>
						<td class="text-left">{{ item.designation }}</td>
						<td class="text-center">{{ item.qte_dem == 0 ? '-': item.qte_dem }}</td>
						<td class="text-center">{{ item.qte_reliquat == 0 ? '-': item.qte_reliquat }}</td>
						<td class="text-center">{{ item.qte_a_livrer == 0 ? '-': item.qte_a_livrer }}</td>
						<td class="text-center">{{ item.qte_livee == 0 ? '-': item.qte_livee }}</td>
						<td class="text-center">{{ item.jours_dispo == 0 ? '-': item.jours_dispo }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- FIN tableau -->
	{% include "/da/shared/cdeFrn/_menuContextuel.html.twig" %}
	{% include "/dit/shared/_modalNiveauUrgence.html.twig"  %}


{% endblock %}

{% block javascript %}
	<script type="module" src="{{ App.base_path }}/Views/js/da/listeCdeFrn/listCdefrn.js" type="module"></script>
{% endblock %}
