{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link href="{{ App.base_path }}/Views/css/new.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<h3 class="perso-titre">
							Validation et proposition
						</h3>
					</div>

					{{ macroForm.sousTitre('Information sur l’article demandée par l’atelier') }}

					{% for DAL in data %}
						{{ include('da/shared/proposition/_article.html.twig', { article: DAL }) }}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-end mt-2">
			<button type="submit" class="btn bouton mt-2 me-4">
				<i class="fas fa-save"></i>
				Enregistrer
			</button>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/da/proposition/proposition.js" type="module"></script>
{% endblock %}
