{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link href="{{ App.base_path }}/Views/css/new.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/dit/news.css" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<h3 class="perso-titre">
							Validation et proposition
						</h3>
					</div>

					<div class="tab-content">
						{% for DAL in data %}
							{{ include('da/shared/proposition/_article.html.twig', { article: DAL, totalPage: data|length }) }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{{ form_start(form, { 'attr': { 'id': 'myForm' } }) }}
		<input type="hidden" name="refs" id="refsHiddenInput">
		<div id="child-prototype" style="display: none;">
			{{ form_widget(form.DALR.vars.prototype)|raw }}
		</div>
		<div class="d-flex justify-content-end mt-2">
			<button type="submit" class="btn bouton mt-2 me-4" id="envoyerSelections">
				<i class="fas fa-save"></i>
				Enregistrer
			</button>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/da/proposition/proposition.js" type="module"></script>

	<script>
		let lastCheckedRadio = null;
let selectedValues = [];

function toggleRadio(radio) {
const valeur = radio.value;
const prefix = valeur.split('-')[0];

if (lastCheckedRadio === radio) {
radio.checked = false;
lastCheckedRadio = null;
selectedValues = selectedValues.filter(item => item.split('-')[0] !== prefix);
} else {
lastCheckedRadio = radio;
selectedValues = selectedValues.filter(item => item.split('-')[0] !== prefix);
selectedValues.push(valeur);
}

console.log("Valeurs sélectionnées :", selectedValues);
}

// Avant soumission du formulaire
document.getElementById('myForm').addEventListener('submit', function (e) { // Met à jour l’input caché avec les valeurs sélectionnées
const hiddenInput = document.getElementById('refsHiddenInput');
hiddenInput.value = selectedValues.join(','); // ex: "1-5,4-9"
});
	</script>


{% endblock %}
