{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link href="{{ App.base_path }}/Views/css/new.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/style.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/dit/news.css" rel="stylesheet"/>
	<link href="{{ App.base_path }}/Views/css/da/proposition.css" rel="stylesheet"/>
{% endblock %}

{% import "macroForm.html.twig" as macroForm %}

{% block overlay %}
	{% include "/shared/_overlay.html.twig"  %}
{% endblock %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<h3 class="perso-titre">
							Validation et proposition
							{{ numDa }}
						</h3>
					</div>

					<div class="d-flex justify-content-start {{ estAte and not nePeutPasModifier ? '' : 'd-none'}}">
						<div>
							<a href="{{ path("da_edit", {id: dit_id})}}" class="btn bouton mt-2 me-4" target="_blank">
								Modifier la demande
							</a>
						</div>
					</div>
					<div class="tab-content">
						{% for DAL in da.DAL %}
							{{ include('da/shared/proposition/_article.html.twig', { article: DAL, totalPage: da.DAL|length }) }}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		{{ form_start(form, { 'attr': { 'id': 'myForm' } }) }}
		<input type="hidden" name="refs" id="refsHiddenInput">
		<div id="child-prototype" style="display: none;">
			{{ form_widget(form.DALR.vars.prototype)|raw }}
		</div>
		<div class="{{ nePeutPasModifier ? 'd-none' : ''}}">
			{{ form_row(form.observation)}}
		</div>
		<div class="d-flex justify-content-between mt-2">
			<div>
				<div class="">
					<button type="submit" class="btn bouton mt-2 me-4 {{ estAte ? 'd-none' : ''}}" id="envoyerSelections" name="enregistrer">
						Envoyer proposition à l'ATE
						<i class="fa-solid fa-square-arrow-up-right"></i>
					</button>
				</div>
				<div>
					<button type="submit" class="btn bouton mt-2 me-4 {{ estAte and not nePeutPasModifier ? '' : 'd-none'}}" id="envoyerSelections" name="changement">
						Changement de choix proposition
						<i class="fa-solid fa-square-arrow-up-right"></i>
					</button>
				</div>
			</div>
			<div class="d-flex justify-content-end {{ nePeutPasModifier ? 'd-none' : ''}}">
				<div style="margin-right: 13px; margin-top: 13px;">
					{{ form_row(form.estValidee)}}
				</div>
				<div>
					<a href="{{ path("da_validate", {numDa: numDa})}}" class="btn bouton mt-2 me-4 d-none" id="bouton_ok">
						Ok
					</a>
				</div>
			</div>

		</div>
		{{ form_end(form) }}
	</div>
	<div class=" container">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<h3 class="fw-bold">Observations</h3>
					{% for observation in observations %}
						<p class="mb-0">
							<b>{{observation.utilisateur}}</b>
							<small>{{observation.dateCreation|date('d/m/Y H:i')}}</small>
						</p>
						<p>{{observation.observation}}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/da/proposition/proposition.js" type="module"></script>
{% endblock %}
