{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
{% endblock%}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container">
		<h3 class="perso-titre">
			Liste de Demande d'intervention
		</h3>

		<table class="table rounded">
			<thead class="table-dark">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th>Statut</th>
					<th>N° BADM</th>
					<th>Code_Mouvement</th>
					<th>Id Materiel</th>
					<th>Ag\Serv Emetteur</th>
					<th>Ag\Serv Destinataire</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data %}
					<tr>
						{# Début Action #}
						<td>
							<div class="dropdown">
								<button class="btn  dropdown-toggle trois-points-vertical" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
									<li>
										<a class="dropdown-item fw-bold" style="color: #000;" href="{{ path("badm_formBadm")}}">Ajouter</a>
									</li>
									<li>
										<a class="dropdown-item fw-bold" href="{{ path("BadmDupli_dupliBadm", {numBadm: item.numBadm, id: item.id})}}">Dupliquer</a>
									</li>
								</ul>
							</div>
						</td>
						{# Fin Actions #}

						{# DEBUT Statut #}

						{# FIN Statut #}

							<td>
								<a href="{{ path('BadmDetail_detailBadm', {numBadm: item.numBadm, id: item.id}) }}"> {{ item.numBadm }}</a>
						</td>
						<td>{{ item.typeMouvement}}</td>
						<td>{{ item.idMateriel}}</td>
						<td>{{ item.agenceServiceEmetteur }}</td>
						<td>{{ item.agenceServiceDestinataire}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/badm/listBadm.js" type="module"></script>

{% endblock %}
