<div class="row">
    <h3 class="perso-titre">
        <span class="urgency-level">{{ dit.idNiveauUrgence.description }}</span>
        Observations sur la Demande d'achat,  n°
        {{ demandeAppro.numeroDemandeAppro }}
    </h3>
</div>
<div class="row">
    <div class="col-8 col-md-8">
        <div class="card">
            <div class="card-body bg-light">
            <div class="overflow-auto pe-1" style="max-height: 60vh;" id="conversationContainer">
                <div class="conversation">
                {% set dateTemp = null %}
                {% for observation in observations %}
                    {% if dateTemp != observation.dateCreation|date('d/m/Y') %}
                        <span class="header-time">{{ observation.dateCreation|date('d/m/Y') }}</span>
                        {% set dateTemp = observation.dateCreation|date('d/m/Y') %}
                    {% endif %}

                    {% if connectedUser.nomUtilisateur != observation.utilisateur %}
                        <div class="talk left mb-3">
                            <div class="user">
                                <div class="icon-user d-flex align-items-end justify-content-center">
                                    <i class="fa fa-user"></i>
                                </div>
                                <span>{{ observation.utilisateur }}</span>
                            </div>
                            <div class="msg-file align-items-start">
                    {% else %}
                        <div class="talk right mb-3">
                            <div class="msg-file align-items-end">
                    {% endif %}
                                <div class="msg">
                                    <p>{{ observation.observation|raw }}</p>
                                    <span class="time">{{ observation.dateCreation|date('H:i') }}</span>
                                </div>
                        {# {% for fileName in item.fileNames %}
                            <div class="file-comment d-flex align-items-center rounded px-1 mt-1" style="min-height: 22px;">
                                <a href="/Upload/tik/fichiers/{{fileName.name}}" download="{{fileName.name}}">
                                    {{fileName.name}}
                                </a>
                            </div>
                        {% endfor %} #}
                            </div>	
                        </div>
                {% endfor %}
                </div>
            </div>

                {# {% for observation in observations %}
                    <p class="mb-0">
                        <b>{{observation.utilisateur}}</b>
                        <small>{{observation.dateCreation|date('d/m/Y H:i')}}</small>
                    </p>
                    <p>{{observation.observation|raw }}</p>
                {% endfor %} #}
            </div>
        </div>
    </div>
    <div class="col-4 col-md-4">
        <div class="card">
            <div class="card-body bg-light">
                {{ form_start(form) }}
                    {{ form_row(form.observation) }}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn bouton mt-2" name="observation">
                            Envoyer l'observation
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>