<div class="row mb-3">
	<h3 class="perso-titre">
		Timeline de la DA
	</h3>
</div>
<div class="row mb-2">
	<div class="timeline">
		{% for event in events %}
			<div class="timeline-item">
				<div class="timeline-dot
										                {% if loop.last %}
										                    dot-current
										                {% elseif event.statut == 'Bon d\'achat validé' %}
										                    dot-success
										                {% else %}
										                    dot-pending
										                {% endif %}
										            "></div>

				<div class="timeline-content">
					<div class="timeline-date">
						{{ event.dateCreation|date('d/m/Y') }}
					</div>

					<div class="timeline-status">
						{{ event.statut }}
					</div>

					<div class="timeline-duration">
						{% if not loop.last %}
							{{ events[loop.index].dateCreation|date('d/m/Y') }}
							-
							{{ event.dateCreation.diff(events[loop.index].dateCreation).days }}
							j
						{% else %}
							&lt;date du jour&gt; -
							{{ event.dateCreation.diff("now"|date).days }}
							j
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
