{% extends "baseTemplate.html.twig" %}

{% import "macroForm.html.twig" as form %}

{% block content %}
{% include "/main/Principe.html.twig" %}
    <div class=" container">
        <div class="card">
            <div class="card-body">

                <div class="col" style="text-align: right;font-weight: bold;">
                    <h2> Ajout Personnel</h2>
                </div>
                <div class="d-flex flex-row ">
                    <div class="p-2">
                        <a href="/Hffintranet/index.php?action=PersonnelList" class="btn btn-warning fw-bold">
                            Liste 
                        </a>

                    </div>
                </div>
                <form action="" method="POST"> 
                  
                        
                    
                    <div class="row">
                        {{ form.select('codeSage', 'Agence - Service SAGE', codeSage, {endpoint:'12', class:'col-md-4'})}}
                        {{ form.select('codeIrium', 'Agence IRIUM', codeIrium, {endpoint:'12', class:'col-md-4'})}}
                        {{ form.select('serviceIrium', 'Service IRIUM', serviceIrium, {endpoint:'12', class:'col-md-4'})}}
                    </div>

                    <div class="row">
                        {{ form.inputNumber('matricule', 'Matricule', infoPersonnelId.0.Matricule, {endpoint:'12', class:'col-md-6'}) }}
                        {{ form.inputNumber('numFourniseur', 'Numero Fournisseur', infoPersonnelId.0.Numero_Fournisseur_IRIUM, {endpoint:'12', class:'col-md-6'}) }}
                    </div>

                    <div class="row">
                        {{ form.inputText('nom', 'Nom', infoPersonnelId.0.Nom, {endpoint:'12', class:'col-md-6'})}}
                        {{ form.inputText('prenoms', 'Prénoms', infoPersonnelId.0.Prenoms, {endpoint:'12', class:'col-md-6'})}}
                    </div>
                    
                    <div class="row">
                        <div class="mt-2">
                            <input type="submit" class="btn btn-success md-2" value="Enregistrer">

                        </div>
                    </div>
                </form>

            </div>
        </div>
{% endblock %}