{% extends "baseTemplate.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/Hffintranet/Views/css/ListDomRech.css">
{% endblock %}

{% block title %}
	<title>Liste d'Ordre de Mission</title>
{% endblock %}

{% import "macroForm.html.twig" as form %}


{% block content %}


	<!-- DEBUT recherche -->

	<div class="container">
		{% if flashes.success %}
			{% for message in flashes.success %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		{% endif %}
		<div class="row">
			<div class="col">
				<h2 class="text-center rounded fw-bold py-2" style="background-color: #212529; color: #fff">
					Liste de la demande d'ordre de mission
				</h2>
			</div>
		</div>

		<form action="" method="get" class="my-4">
		<div class="row">
		<div class="col-12 col-md-3">
			{{form.select_1('Description', 'Statut', statut,{endpoint: '12', class: ' col-md-12', default: 'true', valueDefault:'Choisir un statut'})}}
			{{form.select_1('Sous_type_document', 'Sous Type', sousTypeDoc ,{endpoint: '12', class: ' col-md-12', default: 'true', valueDefault:'Choisir un type'})}}
		</div>
		<div class="col-12 col-md-3">
		<div class="input-group mb-2">
						<span class="input-group-text">N° DOM</span>
						<input type="search" name="Numero_Ordre_Mission" id="numDom" class="form-control">
					</div>
		<div class="input-group mb-2">
						<span class="input-group-text">Matricule</span>
						<input type="search" name="Matricule" id="matricule" class="form-control">
					</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="input-group mb-2">
						<span class="input-group-text">Date de création (début)</span>
						<input type="date" name="dateDemandeDebut" id="dateCreationDebut" class="form-control">
					</div>
					<small class="dateCreationMessage" id="dateCreationMessage"></small>
					<div class="input-group mb-2">
						<span class="input-group-text">Date de création (fin)</span>
						<input type="date" name="dateDemandeFin" id="dateCreationFin" class="form-control">
					</div>
		</div>
		<div class="col-12 col-md-3">
		<div class="input-group mb-2">
						<span class="input-group-text">Date de Mission (début)</span>
						<input type="date" name="dateMissionDebut" id="dateDebutDebut" class="form-control">
					</div>
					<small class="dateCreationMessage" id="dateCreationMessage"></small>
					<div class="input-group mb-2">
						<span class="input-group-text">Date de Mission (fin)</span>
						<input type="date" name="dateMissionFin" id="dateDebutFin" class="form-control">
					</div>
		</div>
		</div>

			<!-- FIN recherche -->


			<!-- DEBUT bouton -->

			<div class="d-flex justify-content-end">
				<button type="submit" id="recherche" class="btn btn-sm m-1 fw-bold" style="background-color: #FBBB01 ;" > 
				<i class="fab fa-searchengin"></i>
				Recherche
				</button>
			</div>

			<!-- FIN bouton -->
		</form>


		<!-- DEBUT affichage de text no resultat -->
		<div id="noResult"></div>
		<!-- FIN -->


		<!-- DEBUT nombre  -->
		<div class=" row mb-2">
			<div class="col-12 col-md-6 col-lg-3">
				<a href="{{path("dom_newDom")}}" class="btn btn-sm bg-dark text-white">Nouvelle Demande</a>
				{# <a href="{{path("domList_ShowListDomRecherche")}}?exportExcel=Export Excel" class="btn btn-sm btn-success" id="export_excel">Export Excel</a> #}
				<a href="{{path("domList_ShowListDomRecherche")}}" class="btn btn-sm btn-success" id="export_excel">Export Excel</a>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<p class="fw-bold" id="nombreResultat">{{resultat}}
					Resultats</p>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<p class="fw-bold" id="nombreResultat">{{page ~' / '~ (totalPage + 1)}}
					pages</p>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				{% if page >= 2 %}
					<a href="{{path("domList_ShowListDomRecherche")}}?page= {{ page - 1 }}" class="btn btn-sm bg-dark text-white">
						&laquo précédent</a>
				{% endif %}
				{% if page <= totalPage %}

					<a href="{{path("domList_ShowListDomRecherche")}}?page= {{ page + 1 }}" class="btn btn-sm bg-dark text-white">suivant &raquo</a>

				{% endif %}
			</div>

		</div>
		<!-- FIN nombre-->

	</div>
	<!-- DEBUT tableau -->
	<div class="Contenue table-plein-ecran">
		<div>
			<table class="table  rounded ">
				<thead class="table-dark">
					<tr>
						<th style="text-align: center;">#</th>
						<th>Statut</th>
						<th>Sous type</th>
						<th>N° DOM</th>
						<th>Date de demande</th>
						<th>Motif de déplacement</th>
						<th style="text-align: center;">Matricule</th>

						<th>Agence - Service</th>
						<th>Date de début</th>
						<th>Date de fin</th>
						<th>Client</th>
						<th>Lieu d'intervention</th>
						<th>Total général payer</th>
						<th>Devis</th>
					</tr>
				</thead>
				<tbody id="table-container">
					{% for item in dom %}
						<tr>
							{# Début Action #}
							<td class = "p-0 mx-2 align-middle">
								<div class="dropdown">
									<button class="btn btn-sm btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: #000; font-weight: 700">
										Actions
									</button>
									<ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="">
										<li>
											<a class="dropdown-item fw-bold" href="{{path("domDuplication_duplificationForm", {numDom: item.Numero_Ordre_Mission, id: item.ID_Demande_Ordre_Mission, matricule: item.Matricule})}}">Dupliquer</a>
										</li>

										<li>
											<a class="dropdown-item fw-bold" style="color: red;" href="{{path("domList_annulationStatut", {numDom: item.Numero_Ordre_Mission})}}">Annuler</a>
										</li>
									</ul>
								</div>
							</td>
							{# Fin Actions #}
							{# DEBUT Statut #}
							{% if item.Description == 'OUVERT' %}
								<td class="bg-warning bg-gradient text-cente">{{item.Description}}</td>
							{% elseif item.Description == 'PAYE' %}
								<td class="bg-success bg-gradient">{{item.Description}}</td>
							{% elseif item.Description == 'ATTENTE PAIEMENT' %}
								<td class="bg-success" style="--bs-bg-opacity: .5;">{{item.Description}}</td>
							{% elseif item.Description == 'CONTROLE SERVICE' %}
								<td class="bg-info">{{item.Description}}</td>
							{% elseif item.Description == 'ANNULE CHEF DE SERVICE' or item.Description == 'ANNULE COMPTABILITE' or item.Description == 'ANNULE SECRETARIAT RH' or item.Description =='ANNULE' %}
								<td class="bg-danger">{{item.Description}}</td>
							{% elseif item.Description == 'VALIDE' or item.Description == 'VALIDE COMPTABILITE' or item.Description == 'VALIDATION RH' or item.Description == 'VALIDATION DG' %}
								<td class="bg-primary">{{item.Description}}</td>
							{% elseif item.Description == 'A VALIDER SERVICE EMETTEUR'%}
								<td class="bg-primary" style="--bs-bg-opacity: .5;">{{item.Description}}</td>
							{% else %}
								<td>{{item.Description}}</td>
							{% endif %}
							{# FIN Statut #}
							<td>{{item.Sous_type_document}}</td>
							<td>
								<a href="{{path("domDetail_detailDom", {numDom: item.Numero_Ordre_Mission, id: item.ID_Demande_Ordre_Mission })}}">{{item.Numero_Ordre_Mission}}</a>
							</td>
							<td style="text-align: center;">{{item.Date_Demande|date('d/m/Y')}}</td>
							<td>{{item.Motif_Deplacement}}</td>
							<td style="text-align: center;">{{item.Matricule}}</td>

							<td>{{item.LibelleCodeAgence_Service}}</td>
							<td style="text-align: center;">{{item.Date_Debut|date('d/m/Y')}}</td>
							<td style="text-align: center;">{{item.Date_Fin|date('d/m/Y')}}</td>
							<td>{{item.Client}}</td>
							<td>{{item.Lieu_Intervention}}</td>
							<td style="text-align: right;">{{item.Total_General_Payer}}</td>
							{# <td style="text-align: right;">{{item.Total_General_Payer | number_format(2, ',', '.') }}</td> #}
							<td>{{item.Devis}}</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- FIN tableau -->
	<div class="container ">
		<div id="pagination-wrapper"></div>
	</div>
	<!-- DEBUT Pagination -->
	<nav class="col-9">
		<ul class="pagination justify-content-end"></ul>
	</nav>
	<!-- FIN Pagination -->




{% endblock %}

{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	{#  <script src="/Hffintranet/Views/js/dom/ListDomRech.js"></script> #}
	<script type="module" src="/Hffintranet/Views/js/dom/exportExcel.js"></script>
{% endblock %}
