{% extends "baseTemplate.html.twig" %}


{% block title %}
	<title>Fiche Ordre</title>
{% endblock %}


{% block content %}


	<div class="container mb-4">
		<div class="row">

			<div class="col-12 col-md-8">

				<h2 class="text-center fs-1 fw-bold bg-black py-2" style="color: #FBBB01">Nouvelle demande d'ordre de mission</h2>

			</div>


		</div>

		<div class="row">
			<div class="d-flex  flex-row-reverse ">
				<div class="tablinks p-2 btn btn-outline-warning ">

					<a href="{{ path("dom_newDom")}}" style="text-decoration: none;color:black; font-weight: bold;">Retour</a>
				</div>
			</div>
		</div>


		{{ form_start(form, {'attr':{'id':'Formulaire'}}) }}
		{{ form_errors(form)}}

		<input type="hidden" name="radiochek" id="radiochek" value="{% set valeur = statutSalarier is defined ? statutSalarier : check %}{{valeur}}"/>
		{% if numDom is defined and numDom is not null and idDom is defined and idDom is not null  %}
			<input type="hidden" name="NumDOM" id="NumDOM" value="{{ numDom }}" readonly>
			<input type="hidden" name="IdDOM" id="IdDOM" value="{{ idDom }}" readonly>
		{% endif %}

		<div class="row">
			<div class="col-4 offset-6">
				<label for="datesyst" class="label-form">
					Date</label>
				<input type="date" name="datesyst" id="datesyst" class="form-control" value="{{ datesyst }}" readonly>
			</div>
		</div>

		<div class="row">

			<div
				class="col">


				<!-- DEBUT Debiteur selecte -->
				<label for="" class="col-4  fw-bold">Agence service débiteur</label>

				<div class="row">
					<div class="col-6">
						<label for="Serv" class="label-form">Agence :</label>
						<select class="form-select " aria-label="Default select example" id="select1" name="codeService"></select>
					</div>

					<div class="col-6 ">
						<label for="LibServ" class="label-form">Service :</label>
						<select class="form-select" name="service" aria-label="Default select example" id="serviceIrium"></select>
					</div>
				</div>
			</div>
			<!-- FIN Debiteur selecte -->

			<!--DEBUT emetteur select -->
			<div class="col">
				<label for="" class="col-4  fw-bold">Agence service émetteur</label>
				<!-- extern (temporaire) -->
				<div class="row" id="ext">
					<div class="col-4 ">
						<label for="Serv" class="label-form">Agence :</label>
						<input type="text" name="Serv" class="form-control" id="Serv" value="{% set valeur = agentEmetteur is defined ? agentEmetteur|upper : code_service|upper %}{{ valeur }} " readonly>
					</div>
					<div class="col-4 ">
						<label for="LibServ" class="label-form">Service :</label>
						<input type="text" name="LibServ" class="form-control" id="LibServ" value="{% set valeur = serviceEmetteur is defined ? serviceEmetteur|upper : service|upper %}{{ valeur }}" readonly>
					</div>

				</div>
				<!-- interne (permanent) -->
				<div class="row" id="int">

					<div class="col-4 ">
						<label for="Serv" class="label-form">Agence :</label>
						<input type="text" name="ServINt" class="form-control" id="ServINt" value="{% set valeur = agentEmetteur is defined ? agentEmetteur|upper : codeServ|upper %}{{ valeur }}" readonly>
					</div>
					<div class="col-4 ">
						<label for="LibServ" class="label-form">Service :</label>
						<input type="text" name="LibServINT" class="form-control" id="LibServINT" value="{% set valeur = serviceEmetteur is defined ? serviceEmetteur|upper : servLib|upper %}{{ valeur }} " readonly>
					</div>

				</div>

			</div>
			<!-- FIN émetteur select -->


		</div>


		<div class="row">
			<div class="col-6">
				<label for="typeMission" class="label-form">
					Type de Mission</label>
				<input name="typeMission" id="typeMission" class="form-control" value="{% set valeur = data.Sous_type_document is defined ? data.Sous_type_document : typeMission %}{{ valeur }}" readonly/>
			</div>

		</div>
		<div class="row">
			<div class="col" id="categ">
				<label for="catego" class="label-form">
					Catégorie:</label>
				<input type="text" name="catego" id="catego" class="form-control" value="{% set valeur = data.Categorie is defined ? data.Categorie : CategPers %}{{ valeur }}">

			</div>
			<!---->
			<div class="col" id="MUTARENTAL"></div>
			<div class="col" id="SITE"></div>
			<!---->
		</div>


		<div class="row" id="Interne">
			<div class="col-6">
				<label for="matricule" class="label-form">
					Matricule</label>
				<input type="text" name="matricule" id="matricule" class="form-control" value="{% set valeur = data.Matricule is defined ? data.Matricule : Maricule %}{{ valeur }}" readonly>
			</div>

			<div class="col-6">
				<label for="Nomprenoms" class="label-form">
					Nom
				</label>
				<input name="nomprenom" id="nomprenom" class="form-control" value="{% set valeur = data.Nom is defined ? data.Nom : nom %}{{ valeur }}" readonly/>
			</div>
			<div class="col-6">
				<label for="prenoms" class="label-form">
					Prénoms
				</label>
				<input name="prenom" id="prenom" class="form-control" value="{% set valeur = data.Prenom is defined ? data.Prenom : prenom %}{{ valeur }}" readonly/>
			</div>

		</div>
		<div class="row" id="externe">
			<div class="col">
				<label for="namesExt" class="label-form">
					Nom</label>
				<input type="text" name="namesExt" id="namesExt" class="form-control" value="{% set valeur = data.Nom is defined ? data.Nom : nomExt %}{{ valeur }}" readonly>
			</div>
			<div class="col">
				<label for="firstnamesExt" class="label-form">
					Prénoms</label>
				<input type="text" name="firstnamesExt" id="firstnamesExt" class="form-control" value="{% set valeur = data.Prenom is defined ? data.Prenom : prenomExt %}{{ valeur }}" readonly>
			</div>
			<div class="col">
				<label for="cin" class="label-form">
					CIN</label>
				<input type="text" name="cin" id="cin" class="form-control" value=" {% set valeur = cin is defined ? cin : CINext %}{{ valeur }} " readonly>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<label for="dateDebut" class="label-form">
					Date début</label>
				<input type="date" name="dateDebut" id="dateDebut" class="form-control" required style="border-color: orange;" value="{% set valeur = data.Date_Debut is defined ? data.Date_Debut : '' %}{{ valeur }}">
			</div>
			<div class="col">
				<label for="heureDebut" class="label-form">
					Heure début</label>
				<input type="time" name="heureDebut" id="heureDebut" class="form-control" required value="{% set valeur = data.Heure_Debut is defined ? data.Heure_Debut : '08:00' %}{{ valeur }}" style="border-color: orange;">
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="dateFin" class="label-form">
					Date Fin</label>
				<input type="date" name="dateFin" id="dateFin" class="form-control" onblur="recupeVal();Difference_date();sommeEtIndemnite('idemForfait','Nbjour','idemForfait01','TotalidemForfait');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense') " required style="border-color: orange;" value="{% set valeur = data.Date_Fin is defined ? data.Date_Fin : '' %}{{ valeur }}">
			</div>
			<div class="col">
				<label for="heureFin" class="label-form">
					Heure Fin</label>
				<input type="time" name="heureFin" id="heureFin" class="form-control" required value="{% set valeur = data.Heure_Fin is defined ? data.Heure_Fin : '18:00' %}{{ valeur }}" style="border-color: orange;">

			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="periode" class="label-form" id="nomprenom">
					Nombre de Jour</label>
				<input type="text" name="Nbjour" id="Nbjour" class="form-control" required style="text-align: right;" value=" {% set valeur = data.Nombre_Jour is defined ? data.Nombre_Jour : '' %}{{ valeur }}" readonly>
			</div>

			<div class="col">
				<label for="motif" class="label-form">
					Motif</label>
				<input type="text" name="motif" id="motif" class="form-control" style="border-color: orange;" maxlength="100" value=" {% set valeur = data.Motif_Deplacement is defined ? data.Motif_Deplacement : '' %}{{ valeur }}" required>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="client" class="label-form">
					Client</label>
				<input type="text" name="client" id="client" class="form-control" style="border-color: orange;" maxlength="100" value=" {% set valeur = data.Client is defined ? data.Client : '' %}{{ valeur }}">
			</div>
			<div class="col">
				<label for="fiche" class="label-form">
					N°fiche</label>
				<input type="text" name="fiche" id="fiche" class="form-control" maxlength="50" value=" {% set valeur = data.Fiche is defined ? data.Fiche : '' %}{{ valeur }}" required>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="lieuInterv" class="label-form">
					Lieu D'intervention</label>
				<input type="text" name="lieuInterv" id="lieuInterv" class="form-control" style="border-color: orange;" maxlength="100" value=" {% set valeur = data.Lieu_Intervention is defined ? data.Lieu_Intervention : '' %}{{ valeur }}" required>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<label for="vehicule" class="label-form">
					Véhicule Société</label>
				{% if data.Vehicule_Societe is defined and data.Vehicule_Societe is not null and data.Vehicule_Societe == "OUI"%}
					<select name="vehicule" id="vehicule" class="form-select" style="border-color: orange;">
						<option value="OUI" selected>OUI</option>
						<option value="NON">NON</option>
					</select>
				{% elseif data.Vehicule_Societe is defined and data.Vehicule_Societe is not null and data.Vehicule_Societe == "NON" %}
					<select name="vehicule" id="vehicule" class="form-select" style="border-color: orange;">
						<option value="OUI">OUI</option>
						<option value="NON">NON</option>
					</select>
				{% else %}
					<select name="vehicule" id="vehicule" class="form-select" style="border-color: orange;">
						<option value="OUI">OUI</option>
						<option value="NON">NON</option>
					</select>
				{% endif %}
			</div>
			<div class="col">
				<label for="N_vehicule" class="label-form">
					N°</label>
				<input type="text" name="N_vehicule" id="N_vehicule" class="form-control" maxlength="50" value=" {% set valeur = data.NumVehicule is defined ? data.NumVehicule : '' %}{{ valeur }}"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="IdemDeplac" class="label-form">indemnité de déplacement</label>
				<input type="text" name="IdemDeplac" id="IdemDeplac" class="form-control" style="border-color: orange;" oninput="formatEtMettreAJour('IdemDeplac')" onblur="sommeEtIndemniteDeplac('IdemDeplac','Nbjour','TotalIdemDeplac');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense')" value=" {% set valeur = data.idemnity_depl  is defined ? data.idemnity_depl : '' %}{{ valeur }}"/>
			</div>
			<div class="col">
				<label for="TotalIdemDeplac" class="label-form">
					Total indemnité de déplacement</label>
				<input type="text" name="TotalIdemDeplac" id="TotalIdemDeplac" class="form-control" style="border-color: orange;" value=" {% set valeur = data.Nombre_Jour is defined and data.idemnity_depl is defined ? idemnityDepl * nombreJour : '' %}{{ valeur }}" readonly>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<label for="Devis" class="label-form">Devise:</label>
				{% if data.Devis is defined and data.Devis is not null and data.Devis == "MGA" %}

					<select name="Devis" id="Devis" class="form-select">
						<option value="MGA" selected>MGA</option>
						<option value="EUR">EUR</option>
						<option value="USD">USD</option>
					</select>
				{% elseif data.Devis is defined and data.Devis is not null and data.Devis == "EUR" %}

					<select name="Devis" id="Devis" class="form-select">
						<option value="MGA">MGA</option>
						<option value="EUR" selected>EUR</option>
						<option value="USD">USD</option>
					</select>
				{% elseif data.Devis is defined and data.Devis is not null and data.Devis == "USD" %}

					<select name="Devis" id="Devis" class="form-select">
						<option value="MGA">MGA</option>
						<option value="EUR">EUR</option>
						<option value="USD" semected>USD</option>
					</select>
				{% else %}
					<select name="Devis" id="Devis" class="form-select">
						<option value="MGA">MGA</option>
						<option value="EUR">EUR</option>
						<option value="USD">USD</option>
					</select>
				{% endif %}
			</div>
			<div class="col">

				<label for="idemForfait" class="label-form">
					Indemnité Forfaitaire Journalière(s)</label>
				<input type="text" name="idemForfait" id="idemForfait" class="form-control" oninput="formatEtMettreAJour('idemForfait', 'TotalidemForfait');" onblur="sommeEtIndemnite('idemForfait','Nbjour','idemForfait01','TotalidemForfait');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense') " style="border-color: orange;" value="{{data.Indemnite_Forfaitaire}}" readonly/>
			</div>
			<div class="col">
				<label for="idemForfait01" class="label-form">
					supplément journalier</label>
				<input type="text" name="idemForfait01" id="idemForfait01" class="form-control" oninput="formatEtMettreAJour('idemForfait01');" onblur="sommeEtIndemnite('idemForfait','Nbjour','idemForfait01','TotalidemForfait');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense') " style="border-color: orange;" value=" {% set valeur = data.Doit_indemnite is defined ? data.Doit_indemnite : '' %}{{ valeur }}"/>
			</div>

			<div class="col">
				<label for="TotalidemForfait" class="label-form">
					Total d'Indemnité Forfaitaire</label>
				<input type="text" name="TotalidemForfait" id="TotalidemForfait" class="form-control" value=" {% set valeur = data.Total_Indemnite_Forfaitaire is defined ? data.Total_Indemnite_Forfaitaire : '' %}{{ valeur }}" readonly onblur='Somme();'/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="MotifAutredep" class="label-form">
					Motif Autre dépense 1</label>
				<input type="text" name="MotifAutredep" id="MotifAutredep" class="form-control" style="border-color: orange;" maxlength="20" value=" {% set valeur = data.Motif_Autres_depense_1 is defined ? data.Motif_Autres_depense_1 : '' %}{{ valeur }}"/>
			</div>
			<div class="col">
				<label for="Autredep1" class="label-form">
					Montant
				</label>
				<input type="text" name="Autredep1" id="Autredep1" class="form-control" oninput="formatEtMettreAJour('Autredep1');" style="border-color: orange;" onblur="calculerSomme('Autredep1','Autredep2','Autredep3','TotalAutredep');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense')" value=" {% set valeur = data.Autres_depense_1 is defined ? data.Autres_depense_1 : '0' %}{{ valeur }}"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="MotifAutredep2" class="label-form">
					Motif Autre dépense 2</label>
				<input type="text" name="MotifAutredep2" id="MotifAutredep2" class="form-control" style="border-color: orange;" maxlength="20" value=" {% set valeur = data.Motif_Autres_depense_2 is defined ? data.Motif_Autres_depense_2 : '' %}{{ valeur }}"/>
			</div>
			<div class="col">
				<label for="Autredep2" class="label-form">
					Montant
				</label>
				<input type="text" name="Autredep2" id="Autredep2" class="form-control" oninput="formatEtMettreAJour('Autredep2');" style="border-color: orange;" onblur="calculerSomme('Autredep1','Autredep2','Autredep3','TotalAutredep');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense')" value="{% set valeur = data.Autres_depense_2 is defined ? data.Autres_depense_2 : '0' %}{{ valeur }}"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="MotifAutredep3" class="label-form">
					Motif Autre dépense 3</label>
				<input type="text" name="MotifAutredep3" id="MotifAutredep3" class="form-control" style="border-color: orange;" maxlength="20" value=" {% set valeur = data.Motif_Autres_depense_3 is defined ? data.Motif_Autres_depense_3 : '' %}{{ valeur }}"/>
			</div>
			<div class="col">
				<label for="Autredep3" class="label-form">
					Montant
				</label>
				<input type="text" name="Autredep3" id="Autredep3" class="form-control" oninput="formatEtMettreAJour('Autredep3');" style="border-color: orange;" onblur="calculerSomme('Autredep1','Autredep2','Autredep3','TotalAutredep');calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense')" value=" {% set valeur = data.Autres_depense_3 is defined ? data.Autres_depense_3 : '0' %}{{ valeur }}"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="TotalAutredep" class="label-form">
					Total Montant Autre Dépense</label>
				<input type="text" name="TotalAutredep" id="TotalAutredep" class="form-control" oninput="formatEtMettreAJour('TotalAutredep');" onblur="calculerSommeAll('TotalidemForfait', 'TotalAutredep','TotalIdemDeplac', 'Alldepense');negative('Alldepense')" value=" {% set valeur = data.Total_Autres_Depenses is defined ? data.Total_Autres_Depenses : '' %}{{ valeur }}" readonly>
			</div>
			<div class="col">
				<label for="Alldepense" class="label-form">
					Montant Total</label>
				<input type="text" name="Alldepense" id="Alldepense" class="form-control" oninput="formatEtMettreAJour('Alldepense');" value=" {% set valeur = data.Total_General_Payer is defined ? data.Total_General_Payer : '' %}{{ valeur }}" readonly>
			</div>
		</div>


		<div class="row">
			<div class="col">
				<h4 style="text-align: center;">Mode de paiement</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="modepaie" class="label-form">
					Mode paiement</label>
				{% if modePaiement is defined and modePaiement is not null and modePaiement == "MOBILE MONEY" %}

					<select name="modepaie" id="modepaie" class="form-select" onchange="visible_espece()" onfocus="Somme(); Interne_externe()" style="border-color: orange;">
						<option value="MOBILE MONEY" selected>MOBILE MONEY</option>
						<option value="ESPECES">ESPECES</option>
						<option value="VIREMENT BANCAIRE">VIREMENT BANCAIRE</option>
					</select>
				{% elseif modePaiement is defined and modePaiement is not null and modePaiement == "ESPECES" %}

					<select name="modepaie" id="modepaie" class="form-select" onchange="visible_espece()" onfocus="Somme(); Interne_externe()" style="border-color: orange;">
						<option value="MOBILE MONEY">MOBILE MONEY</option>
						<option value="ESPECES" selected>ESPECES</option>
						<option value="VIREMENT BANCAIRE">VIREMENT BANCAIRE</option>
					</select>
				{% elseif modePaiement is defined and modePaiement is not null and modePaiement == "VIREMENT BANCAIRE" %}

					<select name="modepaie" id="modepaie" class="form-select" onchange="visible_espece()" onfocus="Somme(); Interne_externe()" style="border-color: orange;">
						<option value="MOBILE MONEY">MOBILE MONEY</option>
						<option value="ESPECES">ESPECES</option>
						<option value="VIREMENT BANCAIRE" selected>VIREMENT BANCAIRE</option>
					</select>
				{% else %}
					<select name="modepaie" id="modepaie" class="form-select" onchange="visible_espece()" onfocus="Somme(); Interne_externe()" style="border-color: orange;">
						<option value="MOBILE MONEY">MOBILE MONEY</option>
						<option value="ESPECES">ESPECES</option>
						<option value="VIREMENT BANCAIRE">VIREMENT BANCAIRE</option>
					</select>
				{% endif %}
			</div>
			<div class="col" id="OpInter">
				<label for="modeesp" class="label-form" id="labelMode">
					Mode</label>
				<input type="text" name="valModesp" id="modeespece" class="form-control">

				<input type="text" name="valModemob" id="modeMob" class="form-control" value="{% set valeur = modePaiementNumero is defined ? modePaiementNumero : numTel %}{{ valeur }}" style="border-color: orange;" maxlength="10" minlength="10" required>
				<input type="text" name="valModecompt" id="modecompte" class="form-control" value="{% set valeur = modePaiementNumero is defined ? modePaiementNumero : numCompteBancaire %}{{ valeur }}">

			</div>
			<div class="col" id="OpExter">
				<label for="modeesp" class="label-form" id="labelMode01">
					Mode</label>
				<input type="text" name="valModespExt" id="valModespExt" class="form-control" value=" {% set valeur = modePaiementNumero is defined ? modePaiementNumero : '' %}{{ valeur }}">
			</div>
		</div>

		<div class="row" id="label_PJ">
			<div class="col">
				<h4 style="text-align: center;">Pièce Jointe</h4>
			</div>
		</div>
		<div class="row" id="PJ">
			<div class="col">

				<label for="file01" class="label-form">
					Fichier joint 01 (Merci de mettre un fichier PDF):</label>
				<div class="col">

					<input type="file" name="file01" id="file01" accept=".pdf" class="form-control"/>

				</div>
			</div>
			<div class="col">

				<label for="file02" class="label-form">Fichier joint 02 (Merci de mettre un fichier PDF):</label>

				<div class="col">
					<input type="file" name="file02" id="file02" accept=".pdf" class="form-control"/>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="mt-2 ">
				<a onclick="return confirm('Voulez-vous envoyer la demande ?')">
					<button type="submit" name="Envoyer" class="btn btn-info md-5 fw-bold" data-bs-toggle="tooltip">
						<i class="fa fa-print"></i>
						Envoyer
					</button>
				</a>
			</div>
		</div>

	</form>
</div>{% endblock %}{% block javascript %}
<script src="/Hffintranet/Views/js/dom/FormCompleDom.js"></script>
<script src="/Hffintranet/Views/js/dom/FormCompleDomAjax.js"></script>{% endblock %}
