{% extends "baseTemplate.html.twig" %}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}


	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="d-flex  flex-row-reverse px-2">
					<h3 class="perso-titre">Demande d'Ordre de Mission</h3>
				</div>

				{{ form_start(form, {'attr':{'id':'formDit'}}) }}
				{{ form_errors(form)}}

				{{ include('/partials/_code_service.html.twig') }}
				<div class="row">
					<div class="col-12 col-md-8">
						{{ form_row(form.sousTypeDocument)}}
					</div>
					{% if bookean != true %}
						<div class="col-12 col-md-4" id="chek">
							{{ form_row(form.salarie)}}
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div id="affichage_container"></div>
					</div>
				</div>
				<div class="row" id="Interne">
					{{ form_row(form.matriculeNom)}}
					{{ macroForm.inputReadonly('matricule', 'Matricule', '', {endpoint: '12'}) }}
				</div>
				<div class="row" id="externe">
					{{ form_row(form.nom)}}
					{{ form_row(form.prenom)}}
					{{ form_row(form.cin)}}
				</div>
				<div class="row">
					<div class="mt-2">
						<button type="submit" class="btn btn-info">Suivant</button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="/Hffintranet/Views/js/dom/FormDOM.js"></script>
{% endblock %}
