{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link href="/Hffintranet/Views/css/new.css" rel="stylesheet"/>
{% endblock%}

{% import "macroForm.html.twig" as macroForm %}

{% block content %}
	<div class=" container">
		<div class="card">
			<div class="card-body">

				<div class="container">
					<h2 class="text-center fs-1 fw-bold bg-black py-2 text-white">
						Formulaire Demande d'intervention
					</h2>


					<a href="#" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste</a>

					{{ form_start(form, {'attr':{'id':'formDit'}}) }}
					{{ form_errors(form)}}

					<div class="">
						{{ form_row(form.objetDemande)}}
						{{ form_row(form.detailDemande)}}
					</div>


					<div class="row">
						<div class="col-12 col-md-2">{{ form_row(form.typeDocument) }}</div>
						<div class="col-12 col-md-2">{{ form_row(form.demandeDevis)}}</div>
						<div class="col-12 col-md-2">{{ form_row(form.livraisonPartiel)}}</div>
						<div class="col-12 col-md-2">{{ form_row(form.avisRecouvrement)}}</div>
						<div class="col-12 col-md-2">{{ form_row(form.categorieDemande) }}</div>
						<div class="col-12 col-md-2">{{ form_row(form.internetExterne)}}</div>
					</div>


					<div class="row">
						<div class="col-12 col-md-6">


							{{ macroForm.sousTitre('Agence et Service', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-6">Débiteur</div>
								<div class="col-12 col-md-6">Emetteur</div>
							</div>

							<div class="row">
								<div class="col-12 col-md-6">
									{{ form_row(form.agence)}}
									{{ form_row(form.service)}}

								</div>
								<div class="col-12 col-md-6">
									{{ form_row(form.agenceEmetteur)}}
									{{ form_row(form.serviceEmetteur)}}
								</div>

							</div>


							{{ macroForm.sousTitre('Info Client', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-4">
									{{ form_row(form.nomClient)}}

								</div>
								<div class="col-12 col-md-4">
									{{ form_row(form.numeroTel)}}
								</div>
								<div class="col-12 col-md-4">
									{{ form_row(form.clientSousContrat)}}
								</div>
							</div>
							{{ macroForm.sousTitre('Information Matériel', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-4">
									{{ form_row(form.idMateriel)}}
								</div>
								<div class="col-12 col-md-4">
									{{ form_row(form.numSerie)}}
								</div>
								<div class="col-12 col-md-4">
									{{ form_row(form.numParc)}}
								</div>
							</div>
							<div class="row">
								<span id="erreur"></span>
							</div>


							<div>
								<ul>
									<div class="row">
										<div class="col-12 col-md-6">
											<li class="fw-bold">Constructeur :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="constructeur"></div>
											</li>
										</div>
										<div class="col-12 col-md-6">
											<li class="fw-bold">Modèle :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="model"></div>
											</li>
										</div>

									</div>

									<div class="row">
										<div class="col-12 col-md-6">
											<li class="fw-bold">Désignation :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="designation"></div>
											</li>
										</div>
										<div class="col-12 col-md-6">
											<li class="fw-bold">Casier :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="casier"></div>
											</li>
										</div>
									</div>

									<div class="row">

										<div class="col-12 col-md-6">
											<li class="fw-bold">KM :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="km"></div>
											</li>
										</div>
										<div class="col-12 col-md-6">
											<li class="fw-bold">Heures :
												<div class="border border-secondary border-3 rounded px-4 bg-secondary-subtle" id="heures"></div>
											</li>
										</div>
									</div>


								</ul>
							</div>

						</div>
						<div class="col-12 col-md-6">
							{{ macroForm.sousTitre('Intervention', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-6">
									{{ form_row(form.idNiveauUrgence)}}
								</div>
								<div class="col-12 col-md-6">
									{{ form_row(form.datePrevueTravaux)}}
								</div>
							</div>
							{{ macroForm.sousTitre('Réparation', {class: 'sousTitre'})}}
							<div class="row">
								<div class="col-12 col-md-6">
									{{ form_row(form.typeReparation) }}

								</div>
								<div class="col-12 col-md-6">
									{{ form_row(form.reparationRealise) }}
								</div>

							</div>


							{{ macroForm.sousTitre('pièce Joint', {class: 'sousTitre'})}}

							{{ form_row(form.pieceJoint01)}}

							{{ form_row(form.pieceJoint02)}}

							{{ form_row(form.pieceJoint03)}}

						</div>

					</div>


					<button type="submit" class="btn bouton">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>

			</div>
		</div>

		<div id="materielInfos"></div>
	{% endblock %}

	{% block javascript %}
		<script src="/Hffintranet/Views/js/dit/dit.js"></script>
	{% endblock %}
