{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
{% endblock %}

{% block nav %}
	{% include "/dw/shared/_entete.html.twig" %}

{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="container">
				{% include "/dw/shared/_formulaireRecherche.html.twig" %}
				<table class="table rounded table-plein-ecran table-moitier">
					<thead class="table-dark">
						<tr>
							<th>Date DIT</th>
							<th>N° DIT</th>
							<th>ID mat</th>
							<th>N° Parc</th>
							<th>N/S</th>
							<th>Désignation</th>
							<th>OR</th>
							<th>Nb de docs</th>
							<th>type interv (interne/externe)</th>
						</tr>
					</thead>
					<tbody>
						{% for dwDit in dwDits %}
							<tr>
								<td>{{dwDit.dateCreation | date('d/m/Y')}}</td>
								<td>{{dwDit.numeroDit}}</td>
								<td>{{dwDit.idMateriel}}</td>
								<td>{{dwDit.numeroParc}}</td>
								<td>{{dwDit.numeroSerie}}</td>
								<td>{{dwDit.designationMateriel}}</td>
								<td>numero or</td>
								<td>nombre doc</td>
								<td>{{dwDit.typeReparation}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<h3>DOSSIER: DIT2408995</h3>

				<table class="table rounded table-plein-ecran table-moitier">
					<thead class="table-dark">
						<tr>
							<th>Type</th>
							<th>N° de document</th>
							<th>Date de création</th>
							<th>Date de MAJ</th>
							<th>Nb de pages</th>
							<th>Taille</th>
						</tr>
					</thead>
					<tbody>
						{% for dwDit in dwDits %}
							<tr class="align-middle">
								<td class="fs-3 p-0">
									{% if dwDit.extensionFichier == '.pdf' %}
										<i class="fa-regular fa-file-pdf"></i>
									{% else %}
										<i class="fa-regular fa-file"></i>
									{% endif %}
								</td>
								<td>numero document numero document numero document</td>
								<td>date de creation</td>
								<td>date de mise à jour</td>
								<td>{{dwDit.totalPage}}</td>
								<td>{{dwDit.tailleFichier}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-12 col-md-6"></div>
	</div>

{% endblock %}
