{% extends "baseTemplate.html.twig" %}

{% import "macroForm.html.twig" as macroForm %}

{% block title %}
	Gestion permission
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block content %}
	<div class="container my-4">
		<div class="card">
			<div class="card-body">
				<div class="container">
					<h3 class="perso-titre">Formulaire de gestion de permission</h3>
					<a href="{{ path("permission_index") }}" class="btn btn-sm  text-white my-3 fw-bold" style="background-color: #FBBB01;">Liste de tous les liaisons</a>
					{{ form_start(form) }}
					{{ form_errors(form)}}

					<div class="row mb-3">
						<div class="col">
							{{ macroForm.affichage2('Référence du profil', reference, 'mb-2') }}
						</div>
						<div class="col">
							{{ macroForm.affichage2('Nom du profil', nomProfil, 'mb-2') }}
						</div>
						<div class="col">
							{{ macroForm.affichage2('Code de l’application', codeApp, 'mb-2') }}
						</div>
						<div class="col">
							{{ macroForm.affichage2('Nom de l’application', nomApp, 'mb-2') }}
						</div>
						{{ form_row(form.agenceServices) }}
					</div>
					<div class="d-none">
						{{ form_row(form.applicationProfil) }}
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i>
						Enregistrer
					</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/admin/appProfilAgServ/appProfilAgServ.js?v=2025.10.22.08.00"></script>
{% endblock %}
