{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link rel="stylesheet" href="/Hffintranet/Views/css/ListDomRech.css">
<link rel="stylesheet" href="/Hffintranet/Views/css/badm/listeCasier.css">
{% endblock%}

{% import "macroForm.html.twig" as form %}


{% block content %}
	<div class="container">


		<div class="row ">

			<h2>
				LISTES DES CASIERS TEMPORAIRES
			</h2>

		</div>

		<!-- DEBUT recherche -->
		<form action="" method="POST">
			<div class="row">
				{{form.select_1('agence', 'Agence', agence,{endpoint: '12', class: ' col-md-6 ', default: 'true', valueDefault:'Sélectionnez un type'})}}
				<div class="col-12 col-md-6  ">
					<div class="input-group mb-2">
						<span class="input-group-text">Casier</span>
						<input type="search" name="casier" id="casier" class="form-control">
					</div>
				</div>
			</div>
			<div class="boutonRecherche">
				<input type="submit" class="btn  fw-bold" style="background-color: #FBBB01 ;" value="Rechercher">
				<input type="submit" name="recherche" id="reset" class="btn btn-dark text-white" value="Effacer">
				<input type="submit" name="exportExcel" id="export" class="btn btn-success" value="Export Excel">
			</div>

		</form>


		<!-- FIN recherche -->


		<!-- DEBUT bouton -->
		<div
			class="row justify-content-center my-4">

			<!-- DEBUT Pagination -->
			<div class="col-12 col-md-12 col-lg-4  mt-1">
				<div id="pagination-wrapper"></div>
			</div>
			<!-- FIN Pagination -->
		</div>
		<!-- FIN bouton -->


	</div>

	<!-- DEBUT tableau -->
	<div class="container ">
		<div class="row">

			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{ path("casier_nouveau")}}" class="btn  fw-bold mb-3" style="background-color: #000; color: white">Nouveau Casier</a>

				{% if boolean %}
					<a href="{{ path("liste_affichageListeCasier")}}" class="btn  fw-bold mb-3" style="background-color: #FBBB01;">Listes Définitives</a>
				{% endif %}
			</div>
			<div class="col-12 col-md-6 col-lg-4  mt-1">
				<p class="fw-bold" id="nombreResultat">{{ nombreLigne.nbrLigne }}
					Résultats</p>
			</div>
		</div>
		<table class="table  table-striped table-shadow shadow  rounded " style="text-align: center;">
			<thead class="table-dark">
				<tr>
					<th>Agence rattaché</th>
					<th>Casier</th>
					<th>Date de création</th>
					<th>Numero Casier</th>
					{% if boolean %}
						<th>Action</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id="table-container">
				{% for item in casier %}
					<tr>
						<td>{{item.Agence_Rattacher}}</td>
						<td style="text-align:left">{{item.Casier}}</td>
						<td>{{item.Date_Creation|date("d/m/Y")}}</td>
						<td>{{item.Numero_CAS}}</td>
						{% if boolean %}
							<td>
								{# <a href="/Hffintranet/index.php?action=formValide&id={{item.Id}}" class="btn  fw-bold mb-3" style="background-color: #FF0000; color: white">Validé</a> #}
								<a href="{{ path("CasierListTemporaire_btnValide", { id: item.Id})}}" class="btn  fw-bold mb-3" style="background-color: #FF0000; color: white">Validé</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	<!-- FIN tableau -->


{% endblock %}
