{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link rel="stylesheet" href="/Hffintranet/Views/css/ListDomRech.css">
<link rel="stylesheet" href="/Hffintranet/Views/css/badm/listeCasier.css">
{% endblock%}

{% import "macroForm.html.twig" as formMacro %}


{% block content %}
	<div class="container">


		<div class="row ">

			<h2>
				LISTE DES CASIERS DEFINITIVES
			</h2>

		</div>

		<!-- DEBUT recherche -->

		{{ form_start(form)}}
		<div class="row">
			<div class="col-12 col-md-6">{{ form_row(form.agence)}}</div>

			<div class="col-12 col-md-6  ">
				{{ form_row(form.casier)}}
			</div>
		</div>
		<div class="boutonRecherche">
			<input type="submit" class="btn  fw-bold" id="recherche" style="background-color: #FBBB01 ;" value="Rechercher">
			<input type="submit" name="recherche" id="reset" class="btn btn-dark text-white" value="Effacer">
			<input type="submit" name="exportExcel" id="export" class="btn btn-success" value="Export Excel">
		</div>
		{{ form_end(form)}}

		<!-- FIN recherche -->


		<!-- DEBUT bouton -->
			<div
			class="row justify-content-center my-4"> <!-- DEBUT Pagination -->
			<div class="col-12 col-md-12 col-lg-4  mt-1">
				<div id="pagination-wrapper"></div>
			</div>
			<!-- FIN Pagination -->
		</div>
		<!-- FIN bouton -->


	</div>

	<!-- DEBUT tableau -->
	<div class="container ">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{ path("casier_nouveau")}}" class="btn  fw-bold mb-3" style="background-color: #000; color: white">Nouveau Casier</a>
				<a href="{{ path("listeTemporaire_affichageListeCasier")}}" class="btn  fw-bold mb-3" style="background-color: #FBBB01;">Listes Temporaires</a>
			</div>
			<div class="col-12 col-md-6 col-lg-2  mt-1">
				<p class="fw-bold" id="nombreResultat">0 Résultats</p>
			</div>
			<div class="col-12 col-md-6 col-lg-2">
				<p class="fw-bold" id="nombreResultat">0/0 pages</p>
			</div>
		</div>
		<table class="table  table-shadow shadow  rounded " style="text-align: center;">
			<thead class="table-dark">
				<tr>
					<th>Agence rattaché</th>
					<th>Casier</th>
					<th>Date de création</th>
					<th>Numero Casier</th>
				</tr>
			</thead>
			<tbody id="table-container">
				{% for item in casier %}
					<tr>
						<td>{{item.AgenceRattacher}}</td>
						<td style="text-align:left">{{item.Casier}}</td>
						<td>{{item.Date_Creation|date("d/m/Y")}}</td>
						<td>{{item.NumeroCAS}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	<!-- FIN tableau -->


{% endblock %}

{% block javascript %}
	<script type="module" src="/Hffintranet/Views/js/badm/listCasier.js"></script>
{% endblock %}
