<div class="card me-2">
	<div class="card-body p-0">
		<div class="nav-top">
			Commentaires
		</div>
	{% if items is empty %}
		<div class="conversation mt-3">
			<p class="align-self-center">Pas encore de commentaires</p>
		</div>
	{% else %}
		<div class="conversation mt-3">
			{% for item in items %}
				{% if connectedUser.id != item.utilisateur.id %}
					<div class="talk left">
						<div class="user">
							<div class="icon-user d-flex align-items-end justify-content-center">
								<i class="fa fa-user"></i>
							</div>
							<span>{{ item.utilisateur.nom_utilisateur }}</span>
						</div>
				{% else %}
					<div class="talk right">
				{% endif %}
						<div class="msg mb-3">
							<p>{{ item.commentaires }}</p>
							<time>{{ item.dateCreation|diffForHumans }}</time>
						</div>
					</div>	
			{% endfor %}
		</div>
	{% endif %}

	{{ form_start(formCommentaire) }}
			<div class="container-inputs-stuffs">
				<div class="group-inp">
					{{ form_widget(formCommentaire.commentaires, {
							'attr': {
								'placeholder': 'Entrer votre message ici',
								'class': 'form-control',  
								'minlength': '1',
								'maxlength': '1500'
							}
						}) }}
				</div>
				<button class="submit-msg-btn" name="commenter" id="btn_commenter">
					<i class="fas fa-paper-plane"></i>
				</button>
			</div>
	{{ form_end(formCommentaire) }}
	</div>
</div>