<div class="card me-2">
	<div class="card-body p-0">
		<div class="nav-top">
			Commentaires
		</div>
	{% if items is empty %}
		<div class="conversation mt-3">
			<p class="align-self-center">Pas encore de commentaires</p>
		</div>
	{% else %}
		<div class="conversation mt-3">
			{% set dateTemp = null %}
			{% for item in items %}
				{% if dateTemp != item.dateCreation|date('d/m/Y') %}
					<span class="header-time">{{ item.dateCreation|date('d/m/Y') }}</span>	
					{% set dateTemp = item.dateCreation|date('d/m/Y') %}
				{% endif %}

				{% if connectedUser.id != item.utilisateur.id %}
					<div class="talk left">
						<div class="user">
							<div class="icon-user d-flex align-items-end justify-content-center">
								<i class="fa fa-user"></i>
							</div>
							<span>{{ item.nomUtilisateur }}</span>
						</div>
				{% else %}
					<div class="talk right">
				{% endif %}
						<div class="msg mb-3">
							<p>{{ item.commentaires }}</p>
							<time>{{ item.dateCreation|date('H:i') }}</time>
						</div>
					</div>	
			{% endfor %}
		</div>
	{% endif %}

	{{ form_start(formCommentaire, {'attr': {'class': 'chat-form'}}) }}
			<div class="container-inputs-stuffs">
				<div class="group-inp">
					{{ form_widget(formCommentaire.commentaires) }}
				</div>
				<i class="fas fa-paperclip" id="paperclip-icon" data-bs-toggle="tooltip" aria-label="Ajouter des fichiers" data-bs-original-title="Ajouter des fichiers"></i>
				<button class="submit-msg-btn" name="commenter" id="btn_commenter">
					<i class="fas fa-paper-plane"></i>
				</button>
			</div>
	{{ form_end(formCommentaire) }}
	</div>
</div>