{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
{% endblock%}


{% block content %}

	<div class="container">
		<h2 class="text-center fw-bold  py-2 rounded color-perso-titre">
			Liste des OR à traiter
		</h2>
		{# <input type="text" id="searchInput" class="form-control my-3" placeholder="Rechercher..."> #}
		{{ form_start(form)}}
		<div class="row">
			<div class="col-12 col-md-2">
				{{form_row(form.niveauUrgence)}}
				{{form_row(form.constructeur)}}
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.numDit)}}
				{{form_row(form.referencePiece)}}
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.numOr)}}
				{{form_row(form.designation)}}
				<ul id="suggestions" class="list-group position-absolute"></ul>
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.dateDebut)}}
				{{form_row(form.dateFin)}}
			</div>
		</div>
		<class class="row">
			<div class="col-12 col-md-8">
				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche</button>
				</div>
			</div>
		</class>
		{{ form_end(form)}}
	</div>
	{% if empty == true %}
		<div class="container">
			{% include "/partials/_noResultList.html.twig" %}
		</div>
	{% else %}
		<div class="container-fluid">
			<table class="table rounded table-plein-ecran">
				<thead class="table-dark">
					<tr>
						<th>
							<i class="fas fa-ellipsis-vertical"></i>
						</th>
						<th>N° DIT</th>
						<th>N° OR</th>
						<th>Niv. d'urg</th>
						<th>Date  OR</th>
						<th>Cst</th>
						<th>Réf</th>
						<th>Dés</th>
						<th>cmde rel</th>
						<th>N° Intv</th>
						<th>N° pie</th>
						<th class="text-center">Qté alloc</th>
						<th class="text-center">Qté rés</th>
						<th class="text-center">Qté liv</th>
						<th class="text-center">Qté rel</th>

					</tr>
				</thead>
				<tbody id="tableBody">
					{% for item in data %}
						<tr>
							<td class="">
								<i class="fas fa-ellipsis-vertical"></i>
							</td>
							<td class="fw-bold ">{{item.numDit}}</td>
							<td class="fw-bold ">{{item.numeroor}}</td>
							<td class="">{{item.niveauUrgence}}</td>
							<td class="">{{ item.datecreation | date("d/m/Y")}}</td>
							<td class="">{{item.constructeur}}</td>
							<td class="">{{item.referencepiece}}</td>
							<td class="">{{item.designationi}}</td>
							<td class="">N° commande reliquat</td>
							<td class="">N° Intv</td>
							<td class="">N° pie</td>
							<td class="text-center">{{item.quantite == 0 ? '-': item.quantite | number_format(0)}}</td>
							<td class="text-center">{{item.quantitereserver == 0 ? '-' : item.quantitereserver | number_format(0)}}</td>
							<td class="text-center">{{item.quantitelivree == 0 ? '-' : item.quantitelivree | number_format(0)}}</td>
							<td class="text-center">{{item.quantitereliquat == 0 ? '-' : item.quantitereliquat | number_format(0)}}</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}

	<!-- FIN tableau -->

{% endblock %}
{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/magasin/listMagasin.js" type="module"></script>
{% endblock %}
