{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
{% endblock%}


{% block content %}

	<div class="container">
		<h2 class="text-center fw-bold  py-2 rounded color-perso-titre">
			Liste des OR
		</h2>
		{# <input type="text" id="searchInput" class="form-control my-3" placeholder="Rechercher..."> #}
		{{ form_start(form)}}
		<div class="row">
			<div class="col-12 col-md-2">
				{{form_row(form.niveauUrgence)}}
				{{form_row(form.constructeur)}}
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.numDit)}}
				{{form_row(form.referencePiece)}}
				<ul id="suggestionsRefPiece" class="list-group position-absolute"></ul>
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.numOr)}}
				{{form_row(form.designation)}}
				<ul id="suggestions" class="list-group position-absolute"></ul>
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.dateDebut)}}
				{{form_row(form.dateFin)}}
			</div>
			<div class="col-12 col-md-2">
				{{ form_row(form.numCommande)}}
			</div>
			<div class="col-12 col-md-2">
				{{form_row(form.orATraiter)}}
				{{form_row(form.qteReserve)}}
				{{form_row(form.qteLivree)}}
				{{form_row(form.qteReliquat)}}
			</div>
		</div>
		<class class="row">
			<div class="col-12 ">
				<div class="d-flex justify-content-end mb-2">
					<button class="btn btn-warning fw-bold" type="submit">
						<i class="fab fa-searchengin"></i>
						Recherche</button>
				</div>
			</div>
		</class>
		{{ form_end(form)}}
	</div>

	<div class="container">
		<div class="d-flex justify-content-between">
			<div>
				{# Bouton EXCEL#}
				<a href="{{path("magasinExportExcel")}}" class="btn btn bg-success text-white my-3 fw-bold">
					<i class="fas fa-table"></i>
					Excel</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="table rounded table-plein-ecran">
			<thead class="table-dark">
				<tr>
					<th>
						<i class="fas fa-ellipsis-vertical"></i>
					</th>
					<th class="text-center">N° DIT</th>
					<th class="text-center">N° OR</th>
					<th>Niv. d'urg</th>
					<th class="text-center">Pos Or</th>
					<th>Date OR</th>
					<th>Cmde rel</th>
					<th class="text-center">Pos liv</th>
					<th class="text-center">N° Intv</th>
					<th class="text-center">N° pie</th>
					<th>Cst</th>
					<th>Réf.</th>
					<th>Désignation</th>
					<th class="text-center">Qté alloc</th>
					<th class="text-center">Qté rés</th>
					<th class="text-center">Qté liv</th>
					<th class="text-center">Qté rel</th>

				</tr>
			</thead>
			<tbody id="tableBody">
				{% for item in data %}
					<tr>
						<td class="">
							<i class="fas fa-ellipsis-vertical"></i>
						</td>
						<td class="fw-bold ">{{item.referencedit}}</td>
						<td class="fw-bold ">{{item.numeroor}}</td>
						<td class="">{{item.niveauUrgence}}</td>
						<td class="text-center">{{ item.posor}}</td>
						<td class="">{{ item.datecreation | date("d/m/Y")}}</td>
						<td class="">{{ item.numcommande}}</td>
						<td class="text-center">{{ item.fcde_posl}}</td>
						<td class="text-center">{{item.numinterv | number_format(0)}}</td>
						<td class="text-center">{{ item.numeroligne}}</td>
						<td class="">{{item.constructeur}}</td>
						<td class="">{{item.referencepiece}}</td>
						<td class="">{{item.designationi}}</td>
						<td class="text-center">{{item.quantiteaallouer == 0 ? '-': item.quantiteaallouer | number_format(0)}}</td>
						<td class="text-center">{{item.quantitereserver == 0 ? '-' : item.quantitereserver | number_format(0)}}</td>
						<td class="text-center">{{item.quantitelivree == 0 ? '-' : item.quantitelivree | number_format(0)}}</td>
						<td class="text-center">{{item.quantitereliquat == 0 ? '-' : item.quantitereliquat | number_format(0)}}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


	<!-- FIN tableau -->

{% endblock %}
{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/magasin/listOrMagasin.js" type="module"></script>
{% endblock %}
