{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
	<link rel="stylesheet" href="/Hffintranet/Views/css/planning/planning.css">
{% endblock %}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container">
		<h3 class="perso-titre">
			Planning
		</h3>
		{% include "/partials/_notification.html.twig" %}

		{% include "/planning/_formulaire.html.twig" %}
	</div>

	<div
		class="container-fluid">
		<!-- DEBUT tableau -->
		{% if empty == true %}
			<div class="container">
				{% include "/partials/_noResultList.html.twig" %}
			</div>
		{% else %}
			<div class="container">
				<div class="mb-3">

					<i class="fa-solid fa-circle text-success"></i>
					<small class="text-success">Tout livré |</small>
					<i class="fa-solid fa-circle text-warning"></i>
					<small class="text-warning">Partiellement livré |</small>
					<i class="fa-solid fa-circle text-info"></i>
					<small class="text-info">Partiellement dispo |</small>
					<i class="fa-solid fa-circle text-primary"></i>
					<small class="text-primary">Complet non livré</small>
				</div>
				<div class="d-flex justify-content-between">
					<div>
						<a href="{{path("export_planning01")}}" id="excelDit" name="excelplanning" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
					</div>

					<div>
						{{ form_start(formMoisAvant, {'attr': {'class': 'd-flex align-items-center'}}) }}
						<div class="me-3" style="margin-bottom: 0 !important;">
							{{ form_row(formMoisAvant.months, {'label': false, 'attr': {'class': 'form-select'}}) }}
						</div>
						<button class="btn btn-warning fw-bold" type="submit">Envoyer</button>
						{{ form_end(formMoisAvant) }}
					</div>
				</div>
			</div>

			<table class="table rounded table-plein-ecran">
				<thead class="table-dark">
					<tr>
						<th>Agence - Service Travaux</th>
						<th>ID</th>
						<th>Marque</th>
						<th>Modèle</th>
						<th>N° Série</th>
						<th>N° Parc</th>
						<th>Casier</th>
						{% for month in uniqueMonths %}
							<th>{{ month.month }}
								{{ month.year }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for item in preparedData %}
						<tr>
							<td>{{ item.libsuc ~ ' - ' ~ item.libserv }}</td>
							<td>{{ item.idmat }}</td>
							<td>{{ item.marqueMat }}</td>
							<td>{{ item.typemat }}</td>
							<td>{{ item.numserie }}</td>
							<td>{{ item.numparc }}</td>
							<td>{{ item.casier }}</td>
							{% for month in uniqueMonths %}
								<td>
									{% set matchedDetails = item.filteredMonths | filter(m => m.month == month.month and m.year == month.year) %}
									{% if matchedDetails|length > 0 %}
										{% for detail in matchedDetails %}
											{% set classe = '' %}
											{% if detail.details.qteCdm * 1 == detail.details.qteLiv * 1 and detail.details.qteCdm != '' and detail.details.qteLiv != '' %}
												{% set classe = 'bg-success text-white' %}
											{% elseif detail.details.qteLiv * 1 > 0 and detail.details.qteLiv * 1 != detail.details.qteCdm * 1 and detail.details.qteCdm * 1 > (detail.details.qteLiv * 1 + detail.details.qteAll * 1) %}
												{% set classe = 'bg-warning text-white' %}
											{% elseif detail.details.qteCdm * 1 != detail.details.qteAll * 1 and detail.details.qteLiv * 1 == 0 and detail.details.qteAll * 1 > 0 %}
												{% set classe = 'bg-info text-white' %}
											{% elseif (detail.details.qteCdm * 1 == detail.details.qteAll * 1 and detail.details.qteLiv * 1 < detail.details.qteCdm * 1) or (detail.details.qteAll * 1 > 0 and detail.details.qteCdm * 1 == (detail.details.qteAll * 1 + detail.details.qteLiv * 1)) %}
												{% set classe = 'bg-primary text-white' %}
											{% endif %}
											<a href="#" data-bs-toggle="modal" data-bs-target="#listeCommande" data-id="{{ detail.details.orIntv }}" data-numdit="{{ detail.details.numDit }}" data-migration="{{ detail.details.migration }}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-wrap {{ classe }}" title="{{ detail.details.commentaire}}">
												{{ detail.details.orIntv }}
											</a><br>
										{% endfor %}
									{% else %}
										-
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endif %}
	</div>

	<!-- FIN tableau -->
	{# body modal #}
	{% include "/planning/_modal.html.twig"  %}
	{% include "/planning/_modalCis.html.twig"  %}
	{% include "/dit/shared/_modalNiveauUrgence.html.twig"  %}
{% endblock %}
{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/planning/cisModal.js" type="module"></script>
	<script src="/Hffintranet/Views/js/planning/listPlanning.js" type="module"></script>
{% endblock %}
