{% extends "baseTemplate.html.twig" %}

{% block stylesheets%}
	<link rel="stylesheet" href="/Hffintranet/Views/css/list.css">
{% endblock %}

{# {% import "macroForm.html.twig" as form %} #}

{% block content %}
	{# {% include "/partials/_loader.html.twig" %} #}

	<div class="container">
		<h3 class="perso-titre">
			Planning
		</h3>
		{% include "/partials/_notification.html.twig" %}

		{% include "/planning/_formulaire.html.twig" %}
	</div>

	<div
		class="container-fluid">
		<!-- DEBUT tableau -->
		{% if empty == true %}
			<div class="container">
				{% include "/partials/_noResultList.html.twig" %}
			</div>
		{% else %}
			<div class="container">
				<div class="mb-3">

					<i class="fa-solid fa-circle text-success"></i>
					<small class="text-success">Tout livré |</small>
					<i class="fa-solid fa-circle text-warning"></i>
					<small class="text-warning">Partiellement livré |</small>
					<i class="fa-solid fa-circle text-info"></i>
					<small class="text-info">Partiellement dispo |</small>
					<i class="fa-solid fa-circle text-primary"></i>
					<small class="text-primary">Complet non livré</small>
				</div>
				<div class="d-flex justify-content-between">
					<div>
						<a href="{{path("export_planning")}}" id="excelDit" name="excelplanning" class="btn btn bg-success text-white my-3 fw-bold">
							<i class="fas fa-table"></i>
							Excel</a>
					</div>

					<div class="navigation">
						{% set queryParams = criteria  %}

						{% if currentPage > 1 %}
							<a class="btn btn-dark my-3" href="{{ path('dit_index', queryParams|merge({'page': currentPage - 1})) }}">
								<i class="fas fa-angle-left text-warning"></i>
							</a>
						{% endif %}


						{% if currentPage < totalPages %}
							<a class="btn btn-dark" href="{{ path('dit_index', queryParams|merge({'page': currentPage + 1})) }}">
								<i class="fas fa-angle-right text-warning"></i>
							</a>
						{% endif %}
					</div>
				</div>
			</div>

			<table class="table rounded table-plein-ecran">
				<thead class="table-dark">
					<tr>
						<th>Agence - Service Travaux</th>
						<th>
							ID</th>
						<th>Marque</th>
						<th>Modèle</th>
						<th>N° Série</th>
						<th>
							N° Parc</th>
						<th>
							Casier</th>
						{# % for month in ['Janv', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'] % #}
						{% for month in ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aoû', 'Sep', 'Oct', 'Nov', 'Déc'] %}
							<th>{{ month }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>

					{% for item in data %}

						<tr>
							<td>{{item.libsuc ~ ' - ' ~ item.libserv}}</td>
							<td>{{item.idmat}}</td>
							<td>{{item.marqueMat}}</td>
							<td>{{item.typemat}}</td>
							<td>{{item.numserie}}</td>
							<td>{{item.numparc}}</td>
							<td>{{item.casier}}</td>
							{% set classe = '' %}

							{% set moisDetails = item.moisDetails %}


							{% set moisDetails = moisDetails is defined ? moisDetails : [] %}
							{% for i in 1..12 %}

								{% set items = moisDetails | filter(mois => mois.mois == i) %}


								<td class="">
									{% if items is not empty %}
										{% for item in items %}
											{% if item.qteCdm * 1 == item.qteLiv * 1 and item.qteCdm != '' and item.qteLiv != ''%}
												{# total livré #}
												{% set classe = 'bg-success text-white' %}
											{% elseif item.qteLiv * 1 > 0 and item.qteLiv * 1 != item.qteCdm * 1 and item.qteCdm != '' and item.qteLiv != '' and item.qteAll != '' %}
												{# partiellement livré #}
												{% set classe = 'bg-warning text-white' %}
											{% elseif item.qteCdm * 1 != item.qteAll * 1 and item.qteLiv * 1 == 0 and item.qteAll * 1 > 0 and item.qteCdm != '' and item.qteLiv != '' and item.qteAll != '' %}
												{% set classe = 'bg-info text-white' %}
												{# partiellement dispo #}
											{%  elseif item.qteCdm * 1 == item.qteAll * 1 and item.qteLiv * 1 < item.qteCdm * 1 and item.qteCdm != '' and item.qteLiv != '' and item.qteAll != '' %}
												{% set classe = 'bg-primary text-white' %}
												{# complet non livré #}
											{% else %}
												{% set classe = '' %}
											{% endif %}

											{% if item.orIntv starts with '1' %}
											
												<a href="#" data-bs-toggle="modal" data-bs-target="#listeCommande" data-id="{{ item.orIntv }}" data-numdit="{{ item.numDit}}" data-migration="{{item.migration}}" id="numOr" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover {{classe}}">
													{{ item.orIntv }}
												</a><br>
											{% else %}
												<a href="#" data-bs-toggle="modal" data-bs-target="#cisPlanning" data-id="{{ item.orIntv }}" data-numdit="{{ item.numDit}}" data-migration="{{item.migration}}" id="numOr" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover {{classe}}">
													{{ item.orIntv }}
												</a><br>
											{% endif %}
										{% endfor %}
									{% else %}
										<!-- Contenu pour les mois sans valeur -->
										-
									{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>

	<!-- FIN tableau -->
	{# body modal #}
	{% include "/planning/_modal.html.twig"  %}
	{% include "/planning/_modalCis.html.twig"  %}
{% endblock %}
{% block javascript %}
	<script script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
	<script src="/Hffintranet/Views/js/planning/listPlanning.js" type="module"></script>
	<script src="/Hffintranet/Views/js/planning/cisModal.js" type="module"></script>
{% endblock %}
