<p>
	Une nouvelle proposition a été créée par
	<b>{{ tab.userConnecter }}</b>.
</p>
<p>
	<b>Détails du demande :</b>
	<ul>
		<li>
			<b>Numéro du DA :</b>
			{{ demandeAppro.numeroDemandeAppro }}
		</li>
		<li>
			<b>Objet de la demande :</b>
			{{ demandeAppro.objetDal }}
		</li>
		<li>
			<b>Détail de la demande :</b>
			<div class="espace">
				{{ demandeAppro.detailDal|raw }}
			</div>
		</li>
		<li>
			<b>Observation:</b>
			<div class="espace">
				{{ tab.observation|raw }}
			</div>
		</li>
	</ul>
</p>
<hr>
<p>Demande(s) de l'Atelier avec proposition(s) de l'Appro.</p>
<p>
	Présentation :
	<ul>
		<li>Les lignes
			<b>sans fond coloré</b>
			et en
			<b>gras</b>
			correspondent aux demandes initiales de l’atelier.</li>
		<li>Les lignes
			<b>avec un fond clair</b>
			et un
			<b>trait bleu à gauche</b>
			correspondent aux propositions de l’Appro.</li>
		<li>Les lignes
			<b>avec un fond orange</b>
			et un
			<b>trait bleu à gauche</b>
			indiquent la proposition retenue par l’Appro.</li>
	</ul>
</p>
<table>
	<thead style="background-color:#D9E1F2;">
		<tr>
			<th>Famille</th>
			<th>Sous famille</th>
			<th>Réference</th>
			<th>Désignation</th>
			<th>Prix Unitaire</th>
			<th>Fournisseur</th>
			<th>Commentaire</th>
		</tr>
	</thead>
	<tbody>
		{% set dals = tab.hydratedDa.DAL %}
		{% for dal in dals %}
			<tr class="parent-row {{ dal.demandeApproLR is empty ? 'choisi' : ''}}">
				<td>{{ dal.artFams1 ?? '-'}}</td>
				<td>{{ dal.artFams2 ?? '-'}}</td>
				<td>{{ dal.artRefp ?? '-'}}</td>
				<td>{{ dal.artDesi }}</td>
				<td>{{ dal.prixUnitaire }}</td>
				<td>{{ dal.nomFournisseur }}</td>
				<td>{{ dal.commentaire }}</td>
			</tr>
			{% if dal.demandeApproLR|length > 0 %}
				{% for dalr in dal.demandeApproLR %}
					<tr class="child-row {{ dalr.choix ? 'choisi' : ''}}">
						<td>{{ dalr.artFams1 ?? '-'}}</td>
						<td>{{ dalr.artFams2 ?? '-'}}</td>
						<td>{{ dalr.artRefp ?? '-'}}</td>
						<td>{{ dalr.artDesi }}</td>
						<td>{{ dalr.prixUnitaire }}</td>
						<td>{{ dalr.nomFournisseur }}</td>
						<td>{{ dalr.motif }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr class="child-row">
					<td colspan="5" style="text-align:center;">Aucune proposition n’a été faite pour cet article.</td>
				</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
<br>
<hr>
