<p>
	Une nouvelle demande
	{{ daLabel }}
	a été créée par
	<b>{{ fullNameUser }}</b>.
</p>
<p>
	<b>Détails du demande :</b>
	<ul>
		<li>
			<b>Numéro du DA :</b>
			{{ demandeAppro.numeroDemandeAppro }}
		</li>
		<li>
			<b>Objet de la demande :</b>
			{{ demandeAppro.objetDal }}
		</li>
		<li>
			<b>Détail de la demande :</b>
			<div class="espace">
				{{ demandeAppro.detailDal|raw }}
			</div>
		</li>
		<li>
			<b>Observation:</b>
			<div class="espace">
				{{ observation|raw }}
			</div>
		</li>
	</ul>
</p>
<hr>
<table>
	<thead style="background-color:#ffc107;">
		<tr>
			{% if avecDIT %}
				<th>Famille</th>
				<th>Sous famille</th>
				<th>Réference</th>
			{% endif %}
			<th>Désignation</th>
			<th>Fournisseur</th>
			<th>Commentaire</th>
		</tr>
	</thead>
	<tbody>
		{% for dal in demandeAppro.DAL %}
			<tr>
				{% if avecDIT %}
					<td>{{ dal.artFams1 ?? '-'}}</td>
					<td>{{ dal.artFams2 ?? '-'}}</td>
					<td>{{ dal.artRefp ?? '-'}}</td>
				{% endif %}
				<td>{{ dal.artDesi }}</td>
				<td>{{ dal.nomFournisseur }}</td>
				<td>{{ dal.commentaire }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<hr>
